.header {
  display:flex;
  justify-content:space-between;
  height:190px;
  font-size:0.8rem;
  font-family:"Reem Kufi", sans-serif;
  text-transform:uppercase;
  border-bottom:1px solid #d6d8db;
}

.header-menu {
  flex:2;
  font-weight:bold;
  margin:auto 0;
  text-align:center;
}

.header-menulist__link {
  display:block;
}

.header__menulist {
  display:flex;
  justify-content:space-between;
}

.header-menulist__item {
  background:white;
  margin-right:20px;
}

.header-icon {
  border-radius:50%;
  width:120px;
  height:120px;
  margin:35px 0 35px 40px;
  display:inline-block;
  background:blue;
  margin-right:60px;
}

.header-hero-register {
  height:190px;
  width:300px;
  border-left:1px solid #d6d8db;
  display:flex;
  padding-left:60px;
  box-sizing:border-box;
  margin-left:50px;
} 

.header__avatar {
  width:50px;
  height:50px;
  margin:auto 0;
  background:url(https://media.licdn.com/media/AAEAAQAAAAAAAAKRAAAAJGU0OWNhMTcxLWY4NDItNGExZC1hNmFjLTU2YmVjZTA0NGU0OA.jpg);
  background-size:cover;
  border-radius:50%;
}

.header__name {
  text-transform:capitalize;
  font-size:1.1rem;
  margin:auto 20px;
}

.main-title {
  margin:0;
}

.container__item {
  display:flex;
  flex-flow: row wrap;
  margin:0;
  background:var(--bg-gray);
}

.item {
  position:relative;
  box-shadow: -7px 4px 50px 0px rgba(171,171,173,0.99);
  webkit-box-shadow: -7px 4px 50px 0px rgba(171,171,173,0.99);
  -moz-box-shadow: -7px 4px 50px 0px rgba(171,171,173,0.99);
  border-radius:8px;
  margin:30px;
}

.item__image {
  background: url(https://lh3.googleusercontent.com/-CIF3kCGiPPw/VsXVahzsSMI/AAAAAAAAD4E/VI7s7HWyu8o/w1600-h800/Coding%2Bat%2BComputer.jpg) no-repeat center;
  height:260px;
  object-fit:fill;
  background-size:cover;
}

.item__content {
  margin:0 auto;
  text-align:center;
  top:146px;
  left:0px;
  right:0px;
  display:block;
  margin-bottom:70px;
}

.item__icon {
  width:10px;
  height:10px;
  margin:0 auto;
  margin-bottom:20px;
  color:var(--bg-white);
}
.item__icon--location {
  font-size:25px;
  position: absolute;
  left: 0;
  right: 0;
  top: 162px;
}

.item__image__paragraph {
  font-size:1rem;
  color:var(--bg-white);
  line-height:30px;
  position: absolute;
  left: 0;
  right: 0;
  top: 185px;
}

.item__circle {
  width:70px;
  height:70px;
  background:var(--color-primary);
  border-radius:50%;
  margin:10px auto; 
  position: absolute;
  left: 0;
  right: 0;
  top: 214px;
}

.item__circle__icon {
  display:block;
  padding-top:20px;
  box-sizing:border-box;
  font-size:25px;
}

.item__content__title {
  margin:15px 0 20px;
  font-weight:bold;
  font-size:1.1rem;
  line-height:20px;
  padding:20px 0 40px;
}

.item__content__icon {
  font-size:20px;
  margin-bottom:12px;
}

.item__content__paragraph {
  font-size:0,.9rem;
  line-height:10px;
  padding-top:12px;
  text-transform: uppercase;
}

.item__box {
  display:flex;
  padding:0 45px 45px;
}

.item__box--one {
  padding: 20px 10px 0;
  flex:2;
  justify-content: space-between;
}

.item__box__two {
  padding:20px 0px 0px;
} 

.item__box__icon {
  font-size:18px;
  margin:10px 10px 0;
}

.item__box__li {
  margin-bottom:15px;
}









.container-results {
  display:flex;
  flex-flow: row wrap;
  background-color:var(--bg-gray);
  padding-top:30px;
}



.resultats-filtered {
  display:flex;
  justify-content:space-between;
  align-items: center;
  text-transform: uppercase;
  font-size:0.6rem;
  width:368px;
  margin:30px;
}
.resultats-filtered__paragraph {
  font-size:0.7rem;
  line-height:22px;
  letter-spacing: 2px;
}

.resultats-filtered__button{
  border:2px solid var(--bg-white);
  background:var(--bg-gray);
  border-radius:4px;
  height:20px;
  line-height:22px;
  padding:0 5px;
  letter-spacing: 2px;
  text-decoration: none;
}

.resultats-filtered__a {
  text-decoration: none;
  color:var(--color-text-secondary);
}

.resultats-quantity {
  width:368px;
  margin: 30px;
}

.resultats-quantity__paragraph--one {
  text-align: center;
  font-size:0.8rem;
  text-transform: uppercase;
  color:var(--color-primary);
  letter-spacing: 2px;
  line-height:20px;
}

.resultats-quantity__paragraph--two {
  text-align: center;
  font-size:1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height:20px;
}

.resultats-messages {
  width:368px;
  margin:30px 0;
  justify-content:flex-end;
  display:flex;
}

.resultats-messages__circle {
  width:26px;
  height:26px;
  border-radius:50%;
  background:red;
  line-height:25px;
  color:var(--bg-white);
  text-align:center;
  font-size:0.8rem;
}

.resultats-messages__icon {
  justify-content: center;
  display: flex;
  align-items: center;
}








