html {
  --color-primary: #61cfff;
  --bg-black: #252525;
  --bg-gray: #f2f2f2;
  --bg-gray-dark: #f3f3f3;
  --bg-white: #fff;
  
  --color-text-primary: #252525;
  --color-text-secondary: #000;
  --color-text-disabled: rgba(0,0,0,0.32);
}