.container-icons {
	box-sizing:border-box;
	padding:20px;
	border:1px solid black;
	color:var(--color-secondary);
}

.icons__ul {
	display:flex;
	justify-content: space-between;
}

.icons-profesional {
	
}

.icons-personal {


}

.icons__li {
	display:flex;
	text-align:center;
	margin:20px 0;
}

.icon {
	font-size:20px;
	margin:0 auto;
}

.icon-title {
	font-size:0.7rem ;
	text-transform:uppercase;
	margin-left:20px;
	line-height:20px;
}