body {
  background: #ddd;
}

code, pre {
  font-size: .8rem;
  line-height: 1.1;
  font-family: Consolas, Monaco, Andale Mono, monospace;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 4px;
  white-space: pre;
}

code {
  background-color: rgba(255, 193, 7, 0.15);
  border: 1px solid rgba(255, 193, 7, 0.24);
  color: #965a03;
  white-space: nowrap;
}

pre {
  padding: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.page {
  max-width: 960px;
  margin: 0 auto;
  background: white;
  padding: 32px;
}

body > h1 {
  background: var(--color-primary);
  color: white;
  padding: 16px;
  font-size: 2rem;
  margin-bottom: 0;
}

.page > section > h2 {
  margin-bottom: 16px;
  font-size: 1.3rem;
}

.page > section > section {
  border-bottom: 3px dashed rgba(0,0,0,0.10);
  padding-top: 8px;
  padding-bottom: 16px;
  margin-top: 16px;
  margin-bottom: 32px;
}

.colors-list {
  list-style: none;
  display: block;
  overflow: hidden;
}

.colors-list li {
  width: 140px;
  height: 140px;
  /*border: 1px solid red;*/
  float: left;
  margin-right: 16px;
  margin-bottom: 16px;
  position: relative;
  text-align: center;
}

.color-ball {
  width: 80px;
  height: 80px;
  background-color: red;
  display: block;
  margin: 0 auto 16px;
  border-radius: 50%;
  background: rgba(0,0,0,0.15);
  box-sizing: border-box;
}

.color-primary   { background-color: var(--color-primary) }
.color-secondary { background-color: var(--color-secondary) }
.bg-black        { background-color: var(--bg-black) }
.bg-gray         { background-color: var(--bg-gray) }
.bg-gray-dark    { background-color: var(--bg-gray-dark) }
.bg-gray-light   { background-color: var(--bg-gray-light) }
.bg-white        { background-color: var(--bg-white) }

.color-text-primary   { background-color: var(--color-text-primary) }
.color-text-secondary { background-color: var(--color-text-secondary) }
.color-text-disabled  { background-color: var(--color-text-disabled) }

.bg-white,
.color-secondary {
  border: 3px solid rgba(0,0,0,0.086);
}

#typography h1,
#typography h2,
#typography h3,
#typography h4,
#typography h5 {
  margin-top: 32px;
}
