.container-search {
  display:flex;
  position:relative;
  padding:50px 50px 0px 50px;
  box-sizing:border-box;
}

.wrap-search__border {
  border-right:1px solid #dee1e2;
}

.wrap-search {
  text-align:center;
  border-bottom:1px solid #dee1e2;
  padding-bottom:110px;
  margin:0 auto;
  flex:1;
}

.wrap-search__image {
  background:yellow;
}

.wrap-search__image {
  background:blue;
}

 .wrap-search__image {
  width:370px;
  height:370px;
  border-radius:50%;
  margin:0 auto 50px;
} 

.wrap-search h3 {
  font-size:1rem;
  font-weight:bold;
}

.wrap-search__select {
  height:69px;
  width: 250px;
  font-size:0.8rem;
  margin:40px 0 70px;
}

.wrap-search__box {
  height:180px;
  background:#30b4f2;
  font-size:0.9rem;
  padding:50px 0;
  box-sizing:border-box;
}

.wrap-search__icon {
  text-align:center; 
  font-size:2.3rem;
  display:block;
  margin-bottom:22px;
}

.wrap-search__box a {
  text-align:center;
  text-decoration:none;
  color:black;
  font-family: 'Reem Kufi', sans-serif;
  font-size:0.9rem;
  text-transform:uppercase;
  font-weight:bold;
}

.container-corporative {
  background:#dee1e2;
  text-align:center;
  padding:90px 100px 110px;
  box-sizing:border-box;
}

.container-corporative h2 {
  font-size:1.4rem;
  font-weight:bold; 
  margin-bottom:30px;
}

.container-corportive__main-paragraph {
  font-size:1.2rem;
  padding:0 50px 40px;
  line-height:30px;
  text-transform:lowercase;
}

.container-corportive__main-paragraph:first-letter {
  text-transform:uppercase;
}

.container-corporative__icon {
  text-align:center;
  font-size:4rem;
  color:black;
  margin-bottom:12px;
}

.container-corporative__paragraph:first-letter {
  font-size:1.3rem;
  text-align:center;
  margin-bottom:50px;
  text-transform:uppercase;
}

.container-corporative__box {
  display:flex;
  flex-flow:row wrap;
  justify-content: space-between;   
}

.container-corporative__item {
  text-align:center;
  line-height:30px;
}

.container-corporative__item h4:first-letter {
  font-size:1.2rem;
  text-transform: uppercase;
}



.container-how-it-works {
  background:var(--bg-black);
  color:#dee1e2;
  text-align:center;
  padding-bottom:80px;
}

.container-how-it-works h2 {
  padding:60px 0;
  font-size:1.4rem;
  margin:0;
}

.wrap-how-it-works {
  display:flex;
  margin-bottom:30px;
}

.wrap-how-it-works__circle {
  width:140px;
  height:140px;
  border-radius:50%;
  border:2px solid #139cdb;
  color:white;
  font-size:3rem;
  line-height:140px;
  font-weight:bold;
  margin:auto;
  margin-bottom:40px;
  position: relative;
}

.wrap-how-it-works__box {
  flex:1;
  display:block;
  position:relative;
}

.wrap-how-it-works__box:not(:last-of-type):before {
  content:"";
  display:block;
  width:40%;
  height:3px;
  background:white;
  position:absolute;
  top:70px;
  left: 0;
  margin:0px;
  transform: translateX(200%);
}

.wrap-how-it-works__box h6 {
  margin:0px;
}

.wrap-how-it-works__box h3 {
  font-size:1rem;
  font-weight:bold;
  margin-bottom:40px;
}

.wrap-how-it-works__box a {
  font-size:1.5rem;
  margin:10px;
  color:var(--color-primary);
  display:block;
  font-size:1.2rem;  
}

.wrap-how-it-works__box h6 {
  font-size:1.5rem;
  text-transform:capitalize;
}

.wrap-how-it-works__circle-little {
  width:75px;
  height:75px;
  background:var(--bg-black);
  border-radius:50%;
  text-align: center;
  line-height: 75px;
  position: absolute;
  top: -14px;
  right: -17px;
  font-size: 2rem;
}

.wrap-how-it-works__icon {
  color:#139cdb;
}

.container-how-it-works .button {
  min-width:236px;
}












.container-call-for-action {
  display:flex; 
}

.call-for-action {
  flex:1;
  text-align:center;
  padding-bottom:80px;
}

.call-for-action--line {
  border-right:1px solid #f2f2f2;
}

.call-for-action__box-icon {
  width:80px;
  height:80px;
  background:white;
  transform:rotate(45deg);
  border-radius:4px;
  margin:60px auto 80px;
  box-shadow:16px 18px 20px 6px rgba(19, 156, 219, 0.1);
}

.call-for-action__icon {
  color:var(--color-primary);
  text-align:center;
  font-size:30px;
  transform:rotate(-45deg);
  line-height:80px;
}

.call-for-action h3 {
  margin:0;
  line-height:20px;
}

.call-for-action p {
  margin:30px 0 40px;
  font-size:1.2rem;
}

.call-for-action .button {
  min-width:236px;
}









.button {
  background:var(--color-primary);
  color:var(--text-color-primary);
  border-radius:4px;
  font-size:0.8rem;
  line-height: 1;
  letter-spacing: 2px;
  border:none;
  text-transform:uppercase;
  padding: 18px 20px;
  text-decoration:none;
  font-weight:bold;
  display:inline-block;
}

.button.button--dark {
  border:2px solid var(--color-primary);
  color:white;
  background:inherit;
}






@media (max-width: 800px) {
  .wrap-how-it-works__box:not(:last-of-type):before {
    display:none;
  }
}


@media (max-width: 600px) {
  .wrap-how-it-works {
    display:block;
  }

  .wrap-how-it-works__box {
    margin-bottom:40px;
  }
}

@media (max-width: 600px) {
  .container-call-for-action {
    display:block;
  }
}

