.form-profile--inline {
  display:flex;
}

/*
select {
	height:20px;
}

h3 {
  font-size:1rem;
  font-weight:bold;
  text-transform:uppercase;
}

.form {
  padding:32px 16px 16px;
}

.form-profile--inline {
  display:flex;
  background:green;
  margin:20px 0;

}

select {
  height:48px;
  font-size:1.2rem;
  display: inline-block;
}

label {
  padding-left: 16px;
}

.select--native-languages {
  margin:20px 0;
}
*/