



.item__footer {
  display:flex;
  justify-content: space-around;
  font-size:0.9rem;
  padding:0 8px;
  box-sizing:border-box;
  background: blue;
}

.item__footer__icon {
  display:block;
  text-align: center;
}

.item__footer__span {
  font-weight: 500px;
  box-sizing:border-box;
  margin:30px 0;
  text-align: center;
}

.item__footer--calendar--line {
  border:1px solid var(--bg-gray);
  background:pink;
}

.item__footer__duration {
  background:green;
}







.container-load-more {
  height:146px;
  background-color:var(--bg-gray);

}

.container-load-more__a {
  text-decoration: none;
  text-transform: uppercase;
  color:var(--color-primary);
  font-size:0.9rem;
  line-height:146px;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  letter-spacing: 2px;
}

.container-icons {
  box-sizing:border-box;
  padding:45px 20px;
  height:192px;
  color:var(--color-secondary);
}

.container__icons__ul {
  display:flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.container__icons__li {
  display:flex;
  text-align: left;
  margin: 20px 20px 20px 0;
  min-width: 160px;
}

.container__icons__icon {
  font-size:20px;
}

.container__icon__title {
  font-size:0.7rem ;
  text-transform:uppercase;
  margin-left:20px;
  line-height:20px;
  font-weight: bold;
}




