.footer {
  background:var(--color-primary);
  height:316px;
  position:relative;
  box-sizing:border-box;
  padding:88px 20px 0;
}

.footer__wrapper {
  max-width: var(--main-layout-width);
  padding-left: var(--main-layout-gap);
  padding-right: var(--main-layout-gap);
  margin: 0 auto;
  display:flex;
  justify-content:space-between;
}

.footer__wrap {
  flex: 1;
}

.footer__menu {
  padding:0 48px 40px;
  border-bottom:2px solid black;
  font-size:0.75rem;
  line-height: 2;
  font-family: var(--font-family-heading);
}

.footer__ul {
  display:flex;
  justify-content: space-between;
  text-align:center;
}

.footer__navegation li {
  line-height: 0;
}

.footer__ul a {
  text-transform:uppercase;
  font-weight:bold;
  text-decoration:none;
  color:var(--color-text-primary);
}

.footer__navegation {
  padding:34px 40px 0;
  font-size:1.7rem;
}

.footer__logo {
  margin-left: 90px;
  width:140px;
  padding-left: 10px;
  text-align:center;
  font-size:0.7rem;
  font-weight:bold;
}

.footer__logo-icon {
  height:40px;
  margin:0 auto;
  padding:10px 0 22px;
  text-align:center;
}

.footer__logo-title {
  font-size: 0.648rem;
  font-weight:bold;
  text-transform: uppercase;
  line-height: 1.33;
}
