.header {
  font-size:0.8rem;
  text-transform:uppercase;
  padding-bottom: 20px;
  position: relative;
  z-index: 2;
}

.header__wrapper {
  box-sizing: border-box;
  width: 100%;
  z-index: 2;
  background: white;
  will-change: transform;
  border-bottom:2px solid var(--bg-gray-dark);
}

.header__wrapper-limit {
  max-width: var(--main-layout-width);
  margin: 0 auto;
  display:flex;
  justify-content:space-between;
  align-items: stretch;
  height: 100%;
  box-sizing: border-box;
  padding-left: var(--main-layout-gap);
  padding-right: var(--main-layout-gap);
}

.header__logo {
  width:130px;
  align-self: center;
  background: url(../images/logo.svg) no-repeat center center;
  background-size: 100% auto;
  display:inline-block;
  margin: 10px 0;
}

.header,
.header__logo {
  height:142px;
}


.header--floating .header__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 0 -10px 80px -16px black;
}

.header--opened .header__wrapper .header__logo,
.header--floating .header__wrapper .header__logo {
  background-image: url(../images/isotipo-color.svg);
  height:90px;
}

.header--floating .header__wrapper {
  animation: slideDown 400ms ease-out forwards;
  height:112px;
}

.header__userbox-profile {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-left:2px solid var(--bg-gray-dark);
  width: 260px;
  box-sizing:border-box;
}

.header__userbox-profile__box {
  display: block;
  font-size:0.81rem;
  font-family: var(--font-family-heading), sans-serif;
  color:inherit;
  height: 80px;
  padding: 30px 20px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  flex-shrink: 0;
}

.header__userbox-profile__box:first-of-type {
  border-bottom:2px solid var(--bg-gray-dark);
}

.header.header--floating .header__userbox-profile__box {
  height:56px;
  padding:16px 0;
  box-sizing: border-box;
}

@keyframes slideDown {
  from {
    transform: translateY(-112px);
  }
}

@keyframes scrollDown {
  from {
    transform: translateY(-100vh);
  }
}

.header__menu {
  display: none;
  margin-left: 70px;
  margin-right: 70px;
  flex:1;
  font-weight:bold;
  text-align:center;
}

.header__menulist {
  display:flex;
  justify-content:space-between;
  font-family: var(--font-family-heading), sans-serif;
  font-weight: 900;
  font-size: 0.81rem;
  letter-spacing: 1px;
  width: 100%;
  height: 100%;
  align-items: center;
}

.header__menulist-item {
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.header__menulist a {
  text-decoration: none;
  color: inherit;
  padding: 16px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__menulist-item--active a,
.header__menulist a:hover {
  background-color: rgba(97, 207, 255, 0.2);
}

.header--opened {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 2;
  animation: scrollDown 233ms ease-out forwards;
}

.header--opened > .header__menulist {
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  flex-direction: column;
  flex: 1;
  font-size: 1.1rem;
  text-align: center;
  text-transform: uppercase;
}

.header--opened > .header__menulist .header__menulist-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header--opened > .header__menulist .header__menulist-item:not(:last-of-type) {
  border-bottom: 2px solid rgba(0,0,0,0.05);
}

.header--opened > .header__menulist .header__menulist-item a {
  display: flex;
  height: calc(100% - 4px);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 50px;
}

.header--opened .header__menubutton .icon {
  background-image: url(../images/ico_aspa.svg);
  filter: brightness(0);
}

.header--opened .header__logo,
.header--opened .header__userbox,
.header--opened .header__loginbutton {
  opacity: 0.2;
}

body.menu--opened {
  overflow-y: hidden;
}

.header__userbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left:2px solid var(--bg-gray-dark);
  padding-left: 16px;
  width: auto;
  box-sizing:border-box;
}

.header__userbox-avatar {
  width:48px;
  height:48px;
  border-radius:50%;
}

.header__userbox-name {
  text-transform:capitalize;
  font-family: var(--font-family-main);
  font-size:1rem;
  letter-spacing: 0;
  margin:0 20px;
}

.header__userbox-name a {
  text-decoration: none;
  color: inherit;
}

.header__loginbutton,
.header__menubutton {
  display: none;
  align-items: center;
}

@media (max-width: 600px) {
  .header__loginbutton,
  .header__menubutton {
    display: flex;
  }

  .header__menubutton {
    margin-left: var(--main-layout-gap);
  }

  .header__loginbutton {
    margin-right: var(--main-layout-gap);
  }

  .header__userbox-profile {
    display:none;
  }

  .header-logo {
    margin:0 auto;
  }

  .header__userbox {
    order:-1;
    border-left:none;
    padding-left: 0;
  }

  .header__userbox-name {
    display:none;
  }
}

@media (min-width: 600px) {
  .header__menu {
    display: flex;
    align-items: center;
  }

  .header__userbox {
    width:260px;
    flex-shrink: 0;
  }
}
