.header {
  font-size:0.8rem;
  text-transform:uppercase;
  border-bottom:1px solid #d6d8db;
}

.header__wrapper {
  max-width: var(--main-layout-width);
  padding-left: var(--main-layout-gap);
  padding-right: var(--main-layout-gap);
  margin: 0 auto;
  display:flex;
  justify-content:space-between;
  align-items: stretch;
  height: 100%;
}

.header__logo {
  width:130px;
  height:190px;
  align-self: center;
  background: url(../images/logo.svg) no-repeat center center;
  background-size: 100%;
  display:inline-block;
}

@media (max-width: 600px) {
  .header__logo {
    height:90px;
    background-size: 70px;
  }
}

.header__menu {
  display: none;
  margin-left: 70px;
  margin-right: 70px;
  flex:1;
  font-weight:bold;
  text-align:center;
  align-self: center;
}

.header__menulist {
  display:flex;
  justify-content:space-between;
  font-family: var(--font-family-heading);
  font-weight: 900;
  font-size: 0.81rem;
  letter-spacing: 1px;
}

.header__menulist a {
  text-decoration: none;
  color: inherit;
  padding: 16px 8px;
  display: inline-block;
}

.header__menulist a:hover {
  box-shadow: 0 20px 0 -18px var(--color-primary);
}

.header__userbox {
  display: flex;
  align-items: center;
  border-left:1px solid #d6d8db;
  padding-left: 16px;
  width: auto;
  box-sizing:border-box;
}

@media (min-width: 600px) {
  .header__menu {
    display: block;
  }

  .header__userbox {
    padding-left:70px;
    width:300px;
  }
}

.header__userbox-avatar {
  width:48px;
  height:48px;
  border-radius:50%;
}

.header__userbox-name {
  text-transform:capitalize;
  font-family: var(--font-family-main);
  font-size:1rem;
  letter-spacing: 0;
  margin:0 20px;
}
