.icon {
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.icon--small {
  width: 24px;
  height: 24px;
}

.icon--xsmall {
  width:16px;
  height:16px;
}

.icon--middle {
  width:36px;
  height:36px;
}



.icon--home-auxiliares {
  background-image: url(../images/ico_home_auxiliares_monocromo.svg);
}

.icon--home-colegios {
  background-image: url(../images/ico_home_colegio-empresa_monocromo.svg);
}

.icon--auxiliar {
  background-image: url(../images/ico_auxiliar_peq.svg);
}

.icon--colegios {
  background-image: url(../images/ico_colegios-empresas.svg);
}

.icon--no {
  background-image: url(../images/ico_aspa.svg);
}

.icon--calendario {
  background-image: url(../images/ico_calendario.svg);
}

.icon--calendario_selected {
  background-image: url(../images/ico_calendario_selected.svg);
}

.icon--casa {
  background-image: url(../images/ico_casa.svg);
}

.icon--yes {
  background-image: url(../images/ico_check.svg);
}

.icon--coche {
  background-image: url(../images/ico_coche.svg);
}

.icon--comida {
  background-image: url(../images/ico_comida.svg);
}

.icon--dinero {
  background-image: url(../images/ico_dinero.svg);
}

.icon--dinero_selected {
  background-image: url(../images/ico_dinero_selected.svg);
}

.icon--duracion {
  background-image: url(../images/ico_duracion.svg);
}

.icon--duracion_selected {
  background-image: url(../images/ico_duracion_selected.svg);
}

.icon--enviar {
  background-image: url(../images/ico_enviar.svg);
}

.icon--idioma {
  background-image: url(../images/ico_idioma.svg);
}

.icon--idioma_selected {
  background-image: url(../images/ico_idioma_selected.svg);
}

.icon--pointer {
  background-image: url(../images/ico_pointer.svg);
}

.icon--pointer-blanco {
  background-image: url(../images/ico_pointer_blanco.svg);
}

.icon--pointer_selected {
  background-image: url(../images/ico_pointer_selected.svg);
}

.icon--reloj {
  background-image: url(../images/ico_reloj.svg);
}

.icon--tandem {
  background-image: url(../images/ico_tandem.svg);
}

.icon--voluntario {
  background-image: url(../images/ico_voluntario.svg);
}

.icon--hombre {
  background-image: url(../images/ico_hombre.svg);
}

.icon--mujer {
  background-image: url(../images/ico_mujer.svg);
}

.icon--hombre_selected {
  background-image: url(../images/ico_hombre_selected.svg);
}

.icon--mujer_selected {
  background-image: url(../images/ico_mujer_selected.svg);
}

.icon--social-facebook {
  background-image: url(../images/ico_social-facebook.svg);
}

.icon--social-twitter {
  background-image: url(../images/ico_social-twitter.svg);
}

.icon--social-youtube {
  background-image: url(../images/ico_social-youtube.svg);
}

.icon--social-instagram {
  background-image: url(../images/ico_social-instagram.svg);
}

.icon--social-linkedin {
  background-image: url(../images/ico_social-linkedin.svg);
}

.icon--slider-back {
  background-image: url(../images/slider_mobile_back.svg);
}

.icon--slider-forward {
  background-image: url(../images/slider_mobile_forward.svg);
}
