 .icon {
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.icon--small {
  width: 24px;
  height: 24px;
}

.icon--xsmall {
  width:16px;
  height:16px;
}

.icon--xmiddle {
  width:32px;
  height:32px;
}

.icon--middle {
  width:36px;
  height:36px;
}

.ico--adjunto-on {
  background-image: url(../images/ico_adjunto_on.svg);
}

.ico--adjunto-off {
  background-image: url(../images/ico_adjunto_off.svg);
}

.ico-user-peq-profile-mensajes {
  background-image: url(../images/ico_user_peq_profile_mensajes.svg);
}

.icon--estrella-off.svg,
.ico--estrella-off.svg {
  background-image: url(../images/ico_estrella_off.svg);
}

.icon--estrella-on.svg,
.ico--estrella-on.svg {
  background-image: url(../images/ico_estrella_on.svg);
}

.icon--sobre-no-leido {
  background-image: url(../images/Ico_sobre_no_leido.svg);
}

.icon--sobre-leido {
  background-image: url(../images/Ico_sobre_leido.svg);
}

.icon--papelera {
  background-image: url(../images/ico_papelera.svg);
}

.ico--flecha-paginado {
  background-image: url(../images/ico_flecha-paginado.svg);
}

.icon--change {
  background-image: url(../images/icon--change.svg);
}

.icon--cv {
 background-image: url(../images/icon--cv.svg);
}

.icon--favoritos {
   background-image: url(../images/icon--favoritos.svg);
}

.icon--mensajes {
  background-image: url(../images/icon--mensajes.svg);
}

.icon--home-colegios-color {
  background-image: url(../images/ico-home-colegios-empresas-color.svg);
}

.icon--home-auxiliares-color {
  background-image: url(../images/ico-home-auxiliares-color.svg);
}

.icon--home-auxiliares {
  background-image: url(../images/ico_home_auxiliares_monocromo.svg);
}

.icon--home-colegios {
  background-image: url(../images/ico_home_colegio-empresa_monocromo.svg);
}

.icon--auxiliar {
  background-image: url(../images/ico_auxiliar_peq.svg);
}

.icon--colegios {
  background-image: url(../images/ico_colegios-empresas.svg);
}

.icon--cancel,
.icon--no {
  background-image: url(../images/ico_aspa.svg);
}

.icon--calendario {
  background-image: url(../images/ico_calendario.svg);
}

.icon--calendario_selected {
  background-image: url(../images/ico_calendario_selected.svg);
}

.icon--casa {
  background-image: url(../images/ico_casa.svg);
  /* color: var(--color-primary); */
  /* filter: brightness(2) invert(2); */
  color: red;
}

.icon--check,
.icon--yes {
  background-image: url(../images/ico_check.svg);
}

.icon--cancel,
.icon--check {
  filter: brightness(0);
}

.icon--coche {
  background-image: url(../images/ico_coche.svg);
}

.icon--comida {
  background-image: url(../images/ico_comida.svg);
}

.icon--dinero {
  background-image: url(../images/ico_dinero.svg);
}

.icon--dinero_selected {
  background-image: url(../images/ico_dinero_selected.svg);
}

.icon--duracion {
  background-image: url(../images/ico_duracion.svg);
}

.icon--duracion_selected {
  background-image: url(../images/ico_duracion_selected.svg);
}

.icon--enviar {
  background-image: url(../images/ico_enviar.svg);
}

.icon--diploma {
  background-image: url(../images/ico_diploma.svg);
}



.icon--idioma {
  background-image: url(../images/ico_idioma.svg);
}

.icon--idioma_selected {
  background-image: url(../images/ico_idioma_selected.svg);
}

.icon--pointer {
  background-image: url(../images/ico_pointer.svg);
}

.icon--pointer-blanco {
  background-image: url(../images/ico_pointer_blanco.svg);
}

.icon--pointer_selected {
  background-image: url(../images/ico_pointer_selected.svg);
}

.icon--reloj {
  background-image: url(../images/ico_reloj.svg);
}

.icon--tandem {
  background-image: url(../images/ico_tandem.svg);
}

.icon--voluntario {
  background-image: url(../images/ico_voluntario.svg);
}

.icon--hombre {
  background-image: url(../images/ico_hombre.svg);
}

.icon--mujer {
  background-image: url(../images/ico_mujer.svg);
}

.icon--hombre_selected {
  background-image: url(../images/ico_hombre_selected.svg);
}

.icon--mujer_selected {
  background-image: url(../images/ico_mujer_selected.svg);
}

.icon--social-facebook {
  background-image: url(../images/ico_social-facebook.svg);
}

.icon--social-google {
  background-image: url(../images/google_logo32.png);
}

.icon--social-twitter {
  background-image: url(../images/ico_social-twitter.svg);
}

.icon--social-youtube {
  background-image: url(../images/ico_social-youtube.svg);
}

.icon--social-instagram {
  background-image: url(../images/ico_social-instagram.svg);
}

.icon--social-linkedin {
  background-image: url(../images/ico_social-linkedin.svg);
}

.icon--slider-back {
  background-image: url(../images/slider_mobile_back.svg);
}

.icon--slider-forward {
  background-image: url(../images/slider_mobile_forward.svg);
}

.icon--login {
  background-image: url(../images/ico_login_mobile.svg);
}

.icon--menu {
  background-image: url(../images/ico_menu_mobile.svg);
}

.icon--arrow-forward {
  background: url(../images/slider_mobile_forward.svg) no-repeat center left;
  background-size: 100% 100%;
  margin-left:48px;
  position: relative;
}

.icon--arrow-forward:after {
  content:"";
  position:absolute;
  display:block;
  top: calc(50% - 1px);
  left: -40px;
  width:40px;
  border:1px solid var(--color-primary);
}

.icon--arrow-back {
  background: url(../images/slider_mobile_back.svg) no-repeat center right;
  background-size: 100% 100%;
  margin-right:52px;
  position: relative;
}

.icon--arrow-back:after {
  content:"";
  position:absolute;
  display:block;
  bottom: 7px;
  left: 14px;
  width:40px;
  border:1px solid var(--color-primary);
}


