:root {
  --color-primary: #61cfff;
  --color-primary-hover: #31bbf7;
  --color-light-primary: rgba(97, 207, 255, 0.2);
  --bg-black: #252525;
  --bg-gray: #f2f2f2;
  --bg-gray-dark: #f3f3f3;
  --bg-white: #fff;

  --color-text-primary: #252525;
  --color-text-secondary: #000;
  --color-text-disabled: rgba(0,0,0,0.32);

  --color-border: #e4e3e3;
}
