
.main-title--white {
  box-shadow:none;
  padding:8px 0;
  font-size:2.2rem;
  text-align: center;
}

.c_auxiliar-favourites {
  display:flex;
  box-shadow: inset 0 8px 33px -8px rgba(0, 0, 0, 0.1);
}

.c_auxiliar-favourites__chosen,
.c_auxiliar-favourites__messages,
.c_auxiliar-favourites__sendCV {
  flex:1;
  padding:32px 35px 35px 0 ;
  justify-content: space-around;
}


.c_auxiliar-favourites__chosen {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background:var(--bg-gray);
}

.c_auxiliar-favourites__link {
  text-decoration: none;
  color:var(--bg-black);
  text-transform: uppercase;
  font-weight: bold;
  font-size:0.9rem;
  padding-top:25px;
}

.c_auxiliar-favourites__link__disabled {
  color:#e4e3e3;
}

.c_auxiliar-favourites__link.c_auxiliar-favourites__link__disabled:hover {
  color:#e4e3e3;
}

.c_auxiliar-favourites__icon {
  filter:brightness(0) invert(0);
}


.c_auxiliar-favourites__link:hover {
  color:var(--color-primary);
}

.c_auxiliar-favourites__messages {
  border-right: 2px solid rgba(0,0,0,0.04)
}

.c_auxiliar-favourites__sendCV {

}


.c_auxiliar-favourites__messages,
.c_auxiliar-favourites__sendCV {
  display:flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.03);
  box-sizing:border-box;
}

.c_auxiliar-favourites__messages__box,
.c_auxiliar-favoritos__sendCV__box {
  flex-flow: column;
  display:flex;
  justify-content: center;
  align-items: center;
  flex:2;
  color:#e4e3e3;
}


.c_auxiliar-favoritos-item__number {
    text-decoration: none;
    width: 32px;
    height: 32px;
    background-color: var(--color-primary);
    color: var(--color-text-secondary);
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    font-family: var(--font-family-heading), sans-serif;
}

.c_auxiliar-favoritos-item__number--black {
  background-color: var(--color-text-secondary);
  color: white;
}

