.c_buscador-auxiliar,
.c_buscador-colegio {
  background: var(--bg-gray);
  box-sizing: border-box;
  padding-top:46px;
}

.c_buscador__wrap {
  max-width: var(--main-layout-width);
  padding-left: var(--main-layout-gap);
  padding-right: var(--main-layout-gap);
  margin:0 auto;
  box-sizing: border-box;
}

.c_buscador__main {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom:46px;
}

.c_buscador__button {
  font-size:0.87rem;
  font-weight:600;
  box-sizing: border-box;
  text-align:center;
  color:var(--color-text-secondary);
  font-family: var(--font-family-main), sans-serif;
}

.c_buscador__button-search {
  height:48px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  letter-spacing: 3.2px;
}

.c_buscador__toggle-search {
  display: none;
  position: relative;
}

.c_buscador__close-search {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid rgba(0,0,0,0.1);
  width: 64px;
  height: 64px;
}

.c_buscador__close-search-icon {
  filter: brightness(0);
  width: 16px;
  height: 16px;
}

.c_buscador__form {
  display: none;
  padding-top:46px;
  padding-bottom:26px;
  border-top:2px solid var(--bg-white);
}

.c_buscador--advanced-filters-opened .c_buscador__form {
  padding-top:46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c_buscador__select.select-alternativo.select-alternativo--big {
  height:70px;
  width:356px;
}

.c_buscador__icon {
  margin: 8px 8px 8px 0;
  flex-shrink: 0;
}

.c_buscador__button__icon {
  padding-right:24px;
}

.c_buscador__form_label {
  white-space: nowrap;
  flex: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.c_buscador__form_label:not(:last-of-type) {
  flex: 1;
  margin-right: 20px;
}

.c_buscador__form_label:not(:last-of-type) input[type="date"],
.c_buscador__form_label:not(:last-of-type) .select-alternativo {
  width: 170px;
}

.c_buscador__form_label .input-radio {
  margin-bottom: 0;
}

.c_buscador__form_label .input-radio input[type] + span {
  padding: 6px 10px;
}

@media (max-width: 1100px) {
  .c_buscador-colegio {
    padding-top:24px;
  }

  .c_buscador__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(50% - 12px);
    height: 144px;
    margin-right:0;
    margin-bottom:48px;
    white-space: normal;
    line-height: 1.45;
  }

  .c_buscador__button__icon {
    margin-bottom: 14px;
    margin-top: 6px;
    width: 42px;
    height: 42px;
  }

  .c_buscador__main {
    flex-wrap:wrap;
    justify-content: space-between;
  }

  .c_buscador__select {
    display: flex;
    flex: 1 1 auto;
    background-color: transparent;
    margin-right: 20px;
  }
}

@media (max-width: 600px) {
  .c_buscador {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-y: auto;
    z-index: 2;
    will-change: transform;
    transition: transform 300ms ease-in-out;
    transform: translateY(100vh);
  }

  .c_buscador--visible {
    transform: translateY(0);
  }

  .c_buscador-colegio {
    padding-top:0;
  }

  .c_buscador__wrap {
    padding:24px;
    background-color:var(--color-primary);
    min-height: 100vh;
  }

  .c_buscador__mobile-search-button {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .c_buscador__button {
    font-size:0.72rem;
  }

  .c_buscador__button-search {
    display: none;
  }

  .c_buscador__toggle-search {
    display: none;
    flex-grow: 1 1 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 64px;
    line-height: 64px;
    z-index: 2;
    box-shadow: 0 -10px 10px 0 rgba(0,0,0,0.2);
    background-color: var(--bg-white);
  }

  .c_buscador--visible ~ .c_buscador__toggle-search {
    display: flex;
  }

  .c_buscador__toggle-search-button {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    color:var(--color-text-primary);
    text-align:center;
    font-family: var(--font-family-heading), sans-serif;
    background-color: transparent;
    border: 0;
    padding: 0;
    flex: 1;
  }

  .c_buscador__button.button--selected {
    background: var(--bg-white);
    border: 2px solid var(--bg-white);
  }

  .c_buscador__main {
    padding-bottom:0;
  }

  .c_buscador__form {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    border-top: 2px solid rgba(0,0,0,0.04);
    padding-bottom: 0;
  }

  .c_buscador__form_label {
    white-space: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }

  .c_buscador__form_label:not(:last-of-type) {
    margin-bottom: 24px;
  }

  .input-radio input[type] + span {
    background-color: transparent;
    border-color: white;
  }

  .input-radio input[type]:checked + span {
    background-color: white;
  }

  .c_buscador__box__icon {
    width: 40%;
    height:64px;
    border:2px solid var(--bg-white);
    color:var(--bg-black);
    display:flex;
    text-transform:uppercase;
    border-radius:4px;
    justify-content: center;
    align-items: center;
    font-weight:bold;
    font-family: var(--font-family-main), sans-serif;
    flex:1;
    text-decoration:none;
    margin-bottom:0;
  }

  .c_buscador__box__icon--mujer {
    margin-right:24px;
  }

  .c_buscador__icon--mujer {
    margin-right:24px;
  }

  .c_buscador__icon--hombre {
    margin-right:24px;
  }

  .c_buscador__wrap .SumoSelect {
    margin-left: 10px;
  }

  .c_buscador__wrap .select-alternativo {
    min-height: 64px;
    font-size:1rem;
    color:var(--bg-black);
    flex: 1;
  }

  .c_buscador__wrap .sumo_country {
    min-height: 64px;
    font-size:1rem;
    color:var(--bg-black);
    flex: 1;
    margin-bottom: 40px;
  }

  .c_buscador_button--search {
    display:none;
  }

  .c_buscador__select {
    color:var(--bg-black);
    border-top:2px solid var(--bg-white);
    border-bottom:2px solid var(--bg-white);
    margin-bottom:47px;
    margin-right: 0;
  }

  .c_load-more {
    display:none;
  }

  .c_buscador_button--search {
    background-color: var(--bg-white);
    border:2px solid var(--bg-white);
    width:100%;
    margin:0;
    padding:0;
    text-align:center;
    line-height:74px;
  }

  .button--floating ~ .container-items {
    margin-top: 74px;
  }

  .c_profile-content__searchbutton {
    display: none;
  }

  .c_buscador__searchbuttonformobile {
    display: block;
    height: 74px;
  }

  .c_buscador__searchbuttonformobile span {
    display: block;
  }
}
