/*.c_buscador {
  background: var(--bg-gray);
  box-sizing: border-box;
  padding:46px 0;
}*/

.c_buscador-auxiliar {
  box-sizing: border-box;
  border-bottom:2px solid var(--bg-white);
  display: flex;
  padding: 46px 40px;
  background:var(--bg-gray);
  border-bottom:none;
  box-shadow:inset 0px 20px 20px 0px rgba(37, 37, 37, 0.15);
}

.c_buscador__button {
  font-size:0.87rem;
  font-weight:600;
  box-sizing: border-box;
  text-align:center;
  line-height: 72px;
  padding:0 16px;
  margin-right: 48px;
}

.c_buscador__button__icon {
  padding-right:24px;
}
