.c_conversaciones {
  background-color: var(--bg-gray);
  width:var(--main-layout-width);
  margin:0 auto;
}

.c_conversaciones__title__icon {
  filter:brightness(0) invert(1);
  position: absolute;
  right: 25px;
  top: 28px;
}

.c_conversaciones__container-general {
  display:flex;
  padding-top: 64px;
  padding-bottom:132px;
}

textarea.c_conversaciones__box__textarea {
  line-height: 1;
  font-size: 1rem;
  width:100%;
  min-height: 120px;
  resize: 0;
  color:inherit;
  background-size: 0;
  white-space:pre-wrap;
}


.c_conversaciones__container__items {
  width: 408px;
}

.c_conversaciones__container__wrappers {
  flex: 1;
}

.c_conversaciones__wrapper {
  display:flex;
  width:680px;
}

.c_conversaciones__wrapper:first-of-type {
  border-bottom:2px dashed #61cfff;
}

.c_conversaciones__item.c_item {
  width: 168px;
  margin: 0 auto 24px;
}

.c_conversaciones__item__image.c_item__image {
  height:144px;
}

.c_conversaciones__item__content.c_item__content {
  top:90px;
}

.c_conversaciones__item__title.c_item__title {
  font-size:0.75rem;
  line-height: 16px;
  letter-spacing:2.4px;
  max-width: 91px;
  margin: 0 auto;
}

.c_conversaciones__item-auxiliar.c_item-auxiliar {
  margin:60px auto 0;
  width:50%;
}

.c_conversaciones__item__nacionality__span.c_item-auxiliar__nacionality__span {
  font-size:0.75rem;
  font-weight:normal;
}

.c_conversaciones__box {
  width:568px;
  background-color:var(--bg-white);
  border-radius:5px;
  margin-right:24px;
  box-sizing: border-box;
  padding:24px;
  padding-bottom: 0;
}


.c_conversaciones__box:first-of-type {
  margin-bottom:64px;
}


.c_conversaciones__box__footer {
  display:flex;
  justify-content: space-between;
  border-top:2px solid #f3f3f3;
  padding:12px 0;
  align-items: center;
}

.c_conversaciones__box__footer .input-file {
  overflow: hidden;
  max-width: none;
}

.c_conversaciones__box__footer .input-file input[type][value] + span {
  color: red;
}

.c_conversaciones__box__footer__icon {
  width:18px;
  height:24px;
  flex-shrink: 0;
  background-image: url(../images/ico_adjunto_off.svg);
}

.c_conversaciones__box__footer .input-file.has-value .c_conversaciones__box__footer__icon {
  background-image: url(../images/ico_adjunto_on.svg);
}

.c_conversaciones__avatar__img {
  width:80px;
  height:80px;
  border-radius:50%;
}

.c_conversaciones__box__button {
  flex-shrink: 0;
}

.button.c_conversaciones__box__button[disabled] {
  background-color: rgba(97, 207, 255, 0.23);
  border-color:transparent;
  color:var(--bg-white);
}

@media (max-width: 1000px) {
  .c_conversaciones {
    width:100%;
  }

  .c_conversaciones__container-general {
    padding-top:0;
    padding-bottom: 86px;
  }

  .c_conversaciones__wrapper {
    width:100%;
  }

  .c_conversaciones__wrapper:first-of-type {
  border-bottom:none;
}


  .c_conversaciones__container__items {
    display:none;
  }

  .c_conversaciones__avatar {
    display:none;
  }

   .c_conversaciones__box:first-of-type {
    margin-bottom:0;
}

  .c_conversaciones__box {
    width:100%;
    box-sizing: border-box;
    display:flex;
    flex-direction:row-reverse;
    border-radius:0;
    position: fixed;
    bottom: 0;
    height:64px;
    box-shadow: 3px -2px 7px 0 rgba(201,199,201,0.49);
  }

  textarea.c_conversaciones__box__textarea {
    min-height:0;
    flex:1;
    min-width:0;
  }

  .c_conversaciones__box__footer {
    border-top:none;
    padding:0;
    flex:1;
    max-width:30px;
    align-self: flex-start;
  }

  .c_conversaciones__box__footer .input-file {
    padding:0;
  }

  .c_conversaciones__box__footer .input-file--transparent input[type] + span {
    display:none;
  }

  .c_conversaciones__box__footer__icon {
    height: 20px;
  }

  .c_conversaciones__box__button {
    display:none;
  }

}




