.c_container-icons {
  box-sizing:border-box;
  padding-top:24px;
  padding-bottom:24px;
}

.c_container-icons__wrap {
  max-width: var(--main-layout-width);
  padding-left: var(--main-layout-gap);
  padding-right: var(--main-layout-gap);
  margin: 0 auto;
}

.c_container__icons__ul {
  display:flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.c_container__icons__li {
  text-align: left;
  margin: 24px 20px 24px 0;
}

.c_container-icons--two-lines .c_container__icons__li {
  min-width: 160px;
}

.c_container__icon__title {
  font-size:0.7rem ;
  text-transform:uppercase;
  margin-left:20px;
  line-height:20px;
  font-weight: bold;
}
