.c_container-icons {
  box-sizing:border-box;
  padding:45px 20px;
  height:192px;
  color:var(--color-secondary);
}

.c_container__icons__ul {
  display:flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.c_container__icons__li {
  display:flex;
  text-align: left;
  margin: 20px 20px 20px 0;
  min-width: 160px;
}

.c_container__icons__icon {
  font-size:20px;
}

.c_container__icon__title {
  font-size:0.7rem ;
  text-transform:uppercase;
  margin-left:20px;
  line-height:20px;
  font-weight: bold;
}
