.c_container-buscador {
  background: var(--bg-gray);
  box-sizing: border-box;
}

.c_buscador__user {
  display:flex;
  padding:46px 0px;
  box-sizing: border-box;
  border-bottom:2px solid var(--bg-white);
}

.c_buscador__button {
  font-size:0.87rem;
  font-weight:600;
  box-sizing: border-box;
  text-align:center;
  line-height: 70px;
}

.c_buscador__form {
  display:flex;
  padding:46px 0px;
}

.c_buscador__button:hover {
  background-color:var(--color-primary-hover);
  border:2px solid var(--color-primary-hover);
}

.c_buscador_button--search {
  padding:0 20px;
}

.c_buscador__select, .select {
  width:356px;
  height:80px;
  border-top:2px solid var(--bg-white);
  border-bottom:2px solid var(--bg-white);
  background:background: var(--bg-gray);
}

.c_container-buscador select.select-alternativo {
  width:192px;
  height:40px;
  background:var(--bg-white);
  border:2px solid var(--bg-white);
  border-radius:4px;
  font-size:0.75rem;
  color:var(--color-text-secondary);
}























