.c_edition-auxiliar {
  border-top:2px solid var(--color-border);
  border-bottom:2px solid var(--color-border);
  display:flex;
  margin-top:30px;
  justify-content: space-between;
}

.c_edition-auxiliar__box {
  padding:33px 0;
}

.c_edition-profile__box-content {
 border-left:2px solid var(--color-border);
}

.c_edition__link--ad {
  padding-left:30px;
}

.c_edition__link-profile {
padding-right: 30px;
}

.c_edition-diploma {
  margin:79px 0 72px;
  display:flex;
  justify-content: flex-start;
  padding:0;
}

