.c_edition-profile {
  border-top:2px solid #F3F3F3;
  border-bottom:2px solid #F3F3F3;
  display:flex;
  justify-content: space-around;
  margin-top:24px;
}

.c_edition-profile__box {
  flex-shrink: 0;
  flex-grow: 1;
}

.c_edition-profile__box:not(:first-of-type) {
  border-left:2px solid #F3F3F3;
}

.c_edition-profile__link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight:bold;
  font-size:0.87rem;
  letter-spacing: 2px;
  color:var(--color-text-secondary);
  display: block;
  padding:33px 0;
}

.c_edition-profile__link:hover {
  color:var(--color-primary);
}

.c_edition-profile__box:not(:first-of-type) .c_edition-profile__link {
  padding-left: 36px;
}

.c_edition-profile__box:not(:last-of-type) .c_edition-profile__link {
  padding-right: 36px;
}

@media (max-width: 600px) {
  .c_edition-profile {
    display:flex;
    flex-wrap:wrap;
  }

  .c_edition-profile__box {
    width:50%
    flex:2;

  }

  .c_edition-profile__box:last-of-type .c_edition-profile__link {
  flex:1;
  }

  .c_edition-profile__link {
    text-align:center;
  }
}

@media (max-width: 332px) {

  .c_edition-profile__box:last-of-type {
    border-top:2px solid #F3F3F3;
  }

  .c_edition-profile__box:first-of-type .c_edition-profile__link {
    padding-left: 36px;
  }

  .c_edition-profile__box:last-of-type .c_edition-profile__link {
    padding-right:36px;
  }
}









