

  .c_edition-profile__password {
  display:flex;
  flex-flow:row;
  justify-content: center;
  align-items: center;
}

.c_edition-profile__password__paragraph {
  text-align: center;
  margin:86px 0 76px;
}

.c_edition-profile__password__wrapper {
  display:flex;
}

.c_edition-profile__password__label {
  text-align: center;
  margin-bottom:60px;
}

.c_edition-profile__password__select {
  width:70%;
  white-space:wrap;
  margin-top:30px;
}

.c_edition-profile__password__annotation {
  color:#ff686f;
  text-align:center;
  letter-spacing: 1px;
  line-height: 24px;
  font-size:1rem;
  font-family: var(--font-family-main);
  margin-top:150px;
}

.c_edition-profile__password__asterisk {
  color: #ff686f;
  margin-left:8px;
}
