  .c_edition-profile__password__container {
    background-color: #f3f3f3;
    padding-bottom:64px;
  }

  .c_edition-profile__password {
  display:flex;
  flex-flow:row;
  justify-content: center;
  align-items: center;
  max-width:1000px;
  margin:0 auto;
}

.c_edition-profile__password__paragraph {
  text-align: center;
  margin:86px 0 76px;
}

.c_edition-profile__password__wrapper {
  display:flex;
}

.c_edition-profile__password__label {
  text-align: center;
  margin-bottom:60px;
  margin-right:10px;
  margin-left:10px;
}

.input--white.c_edition-profile__password__input {
  min-width:250px;
}

.c_edition-profile__password__select {
  width:68%;
  white-space:wrap;
  margin-top:30px;
}

.c_edition-profile__password__input__answer {
  width:68%;
}

.c_edition-profile__password__annotation {
  color:#ff686f;
  text-align:center;
  letter-spacing: 1px;
  line-height: 24px;
  font-size:1rem;
  font-family: var(--font-family-main);
  margin-top:150px;
}

.c_edition-profile__password__asterisk {
  color: #ff686f;
  margin-left:8px;
}

@media (max-width:600px) {
  .c_edition-profile__password__container {
    overflow:hidden;
    padding-bottom:54px;
  }

  .c_edition-profile__password {
    display:block;
  }

  .c_edition-profile__password__paragraph {
    font-size: 0.80rem;
    padding:25px 0 30px;
    margin:0;
  }

  .c_edition-profile__password__label {
    margin: 0 0 30px 0;
    letter-spacing:1.1px;
  }

  .c_edition-profile__password__label span {
    font-size:0.64rem;
    line-height: 0;
  }

  .c_edition-profile__password__label input {
    width:80%;
  }

  .c_edition-profile__password__wrapper {
    display:block;
  }

  .c_edition-profile__password__annotation {
    margin-top: 80px;
    font-size:0.80rem;
  }

}
