.c_galeria {
  width:50%;
  position:relative;
}

.c_galeria__image {
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: center;
  position:relative;
  display:block;
}

.c_galeria__box {
  position:absolute;
  right:0;
  top:72px;
  display:flex;
  flex-direction:column;
}

.c_galeria__number {
  width:72px;
  height:72px;
  background-color:var(--bg-white);
  font-size:2rem;
  text-align:center;
  font-family:var(--font-family-main);
  padding:20px 0;
  box-sizing: border-box;
}

.c_galeria__number sup {
  vertical-align:super;
  font-size:1rem;
  font-weight:bold;
}

.c_galeria__button {
  width:72px;
  height:72px;
  background-color: var(--color-text-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.c_galeria__button:active .icon {
  filter: brightness(0) invert(1);
}

.c_galeria__images,
.slick-list,
.slick-track {
  height: 100%;
}

@media (max-width: 600px) {
  .c_galeria {
    width:100%;
  }

  .c_galeria__image {
    width:100%;
  }

  .c_galeria__box {
    top:0;
  }

  .c_galeria__button {
    width:80px;
    height:80px;
  }

  .c_galeria__number {
    width:80px;
    height:80px;
    order:2;
  }

}
