.c_hero-search {
  text-align:center;
  padding:32px 0 64px;
  margin:0 auto;
  flex:1;
  position: relative;
  box-sizing: border-box;
}

.c_hero-search__wrapper {
  padding: 16px;
}

@media (min-width: 600px) {
  .c_hero-search {
    padding:30px 0 100px;
  }

  .c_hero-search:first-of-type:after {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -1px;
    z-index: 1;
    background-color: rgba(0,0,0,0.05);
  }
}

.c_hero-search__image {
  max-width:264px;
  width: 100%;
  border-radius:50%;
  margin:0 auto 24px;
  box-shadow: 0 50px 40px -20px rgba(0,0,0,0.15);
}

.c_hero-search h3 {
  font-size:0.9rem;
  font-weight:bold;
  margin: 0;
  line-height: 1.7;
  letter-spacing: 2px;
}

.c_hero-search__select {
  height:60px;
  width: 376px;
  margin:28px 0 10px;
}

.c_hero-search__box {
  display: block;
  margin-top: 12px;
  background:var(--color-primary);
  font-size:0.9rem;
  padding:2px 0 14px;
  box-sizing:border-box;
  text-decoration: none;
  color:var(--color-text-secondary);
}

.c_hero-search__box:hover {
  background:var(--color-primary-hover);
}

.c_hero-search__icon {
  text-align:center;
  font-size:2.3rem;
  margin-bottom:14px;
  margin-right: 40px;
}

.c_hero-search__title {
  font-size: 0.85rem;
  line-height: 2.2;
}

.c_hero-search__box a {
  text-align:center;
  text-decoration:none;
  color:var(--color-text-secondary);
  font-size:0.8rem;
  text-transform:uppercase;
  font-weight:bold;
}
