.container {
  background-color: var(--bg-gray);
  padding-bottom:64px;
}

.header-text {
  text-align: center;
}

.header-text__container {
  width:var(--main-layout-width);
  margin:0 auto;
}

.header-text__title {
  font-weight:bold;
  padding-top:86px;
  padding-bottom:16px;
}

.header-text__subtitle {
  font-weight:bold;
  padding-top:64px;
}








