
.c_header-text {
  background-color: #f3f3f3;
  text-align: center;
}

.c_header-text__container {
  width:var(--main-layout-width);
  margin:0 auto;
}

.c_header-text__title {
  font-weight:bold;
  padding-top:86px;
  padding-bottom:16px;
}

.c_header-text__subtitle {
  font-weight:bold;
  padding-top:64px;
}








