.c_item-colegio {
  margin-top:124px;
  text-align: center;
}

.c_item-colegio__paragraph {
  margin-top:15px;
  font-size:0.87rem;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}


.c_item-colegio__icons {
  display:flex;
  padding:0 45px 30px;
  text-align: left;
  margin-top:40px;
}

.c_item-colegio--one {
  padding: 20px 10px 0 0;
  flex:2;
  justify-content: space-between;
}

.c_item-colegio__label {
  text-transform:uppercase;
  font-size:0.75rem;
}

.c_item-colegio--two {
  padding:20px 0 0;
}

.c_item-colegio__icon {
  margin:0 20px 0 0;
}

.c_item-colegio__icon:last-child {
  margin-right: 0;
}

.c_item-colegio__icon--selected {
  color:rgba(255, 0, 0, 0.54);
}

.c_item-colegio__two .c_item-colegio__li:last-child .c_item-colegio__icon--selected:last-child {
  color:green;
}

.c_item-colegio__li {
  margin-bottom:15px;
  line-height: 32px;
}


@media (max-width: 600px) {
  .c_item-colegio__icons {
    display:block;
  }

  .c_item-colegio__icon {
    margin-right :28px;
  }
}
