
.c_item {
  position:relative;
  box-shadow: -7px 4px 50px 0 rgba(171,171,173,0.99);
  border-radius:8px;
  margin: 0 0 48px;
  overflow: hidden;
  background-color: var(--bg-white);
  width: calc(33.333% - 40px);
  max-width: 368px;
}

.c_item__image {
  height:264px;
  object-fit:fill;

}

.c_item__content {
  position:absolute;
  text-align:center;
  top:160px;
  left:0;
  right:0;
  display:block;
}

.c_item__icon {
  text-align: center;
  margin-bottom:12px;
}

.c_item__icon .icon {
  color:var(--bg-white);
}


.c_item__image__paragraph {
  font-size:1rem;
  color:var(--bg-white);
  line-height:1;
  margin-top:10px;
  font-family: var(--font-family-main), sans-serif;
  font-weight: bold;
  letter-spacing: 0;
}

.c_item__button {
  width:80px;
  height:80px;
  background:var(--color-primary);
  border-radius:50%;
  margin:0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
  box-shadow:1px 14px 50px 6px rgba(19, 156, 219, 0.2);
}

.c_item__button__icon {
  padding-top:20px;
  box-sizing:border-box;
  width:32px;
  height:32px;
}

.c_item__title {
  margin:17px 0 16px;
  font-size:1.1rem;
  font-weight:bold;
  letter-spacing:3.2px;
  font-family: var(--font-family-heading), sans-serif;
}

/*

.c_item__content__icon {
  font-size:20px;
  margin-bottom:12px;
}

.c_item__content__paragraph {
  font-size:0,.9rem;
  line-height:10px;
  padding-top:12px;
  text-transform: uppercase;
}
*/

@media (max-width: 600px) {
  .c_item {
    width: calc(100% - 24px);
    max-width:152px;
  }

  .c_item__image {
    height: 120px;
  }

  .c_item__button {
    width: 48px;
    height: 48px;
  }

  .c_item__button__icon {
    width: 24px;
    height: 18px;
   }

   .c_item__content {
    top:40px;
   }

   .c_item__image__paragraph  {
    font-size:0.68rem;
    text-transform:uppercase;
   }

   .c_item__icon .icon {
    width: 15px;
    height: 23px;
   }

   .c_item__title {
    margin: 6px 40px 15px;
    font-size: 0.68rem;
    letter-spacing: 2px;
    line-height: 1.5;
  }


}









}
