.messages-container {
  background-color: var(--bg-gray);
  padding-top: 20px;
  padding-bottom: 96px;
}

.messages-container__wrapper {
  max-width: var(--main-layout-width);
  margin: 0 auto;
}

.c_messages-item {
  margin-bottom:16px;
}

.c_messages-item__wrapper {
  display:flex;
  align-items: stretch;
  border-radius: 4px;
}

.c_messages-item__read {
  width: 120px;
  background-image: url(../images/Ico_sobre_leido.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.c_messages-item--unread .c_messages-item__read {
  background-image: url(../images/Ico_sobre_no_leido.svg);
  background-color: var(--bg-white);
}

.c_messages-item__paragraph {
  position: relative;
}

.c_messages-item--unread .c_messages-item__paragraph {
  overflow: hidden;
  height: 70px;
}

.c_messages-item--unread .c_messages-item__paragraph:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 -59px 30px -42px #fff;
}

.c_messages-item__box {
  display:flex;
  flex-flow:row;
  width:960px;
  justify-content: space-between;
  color:var(--bg-black);
  padding:24px;
  border-radius: 4px;
  background-color:var(--bg-white);
  box-sizing: border-box;
}

.c_messages-item__avatar__box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.c_messages-item__avatar {
  width: 72px;
  height: 72px;
  border-radius:50%;
}

.c_messages-item__avatar--small {
  width: 32px;
  height: 32px;
  border-radius:50%;
}

.c_messages-item__avatar--small:first-of-type {
  margin-right:8px;
}

.c_messages-item__avatar__box--group {
  display:flex;
  flex-wrap: wrap;
  width:72px;
  position:relative;
}

.c_messages-item__avatar--small:nth-of-type(3) {
  margin-right:8px;
}

.c_messages-item_notification_number {
  width: 32px;
  height: 32px;
  border-radius:50%;
  background-color: var(--color-primary);
  color:var(--bg-black);
  font-size:1rem;
  font-weight: bold;
  font-family: var(--font-family-heading), sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  position:absolute;
  top: 22px;
}

.c_messages-item__personal {
  display:flex;
  flex-flow: column;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 30%;
  padding-left: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  box-sizing: border-box;
}

.c_messages-item__name {
  padding:0;
  font-size:0.87rem;
  font-weight: bold;
  text-align: left;
}


.c_messages-item__date {
  font-size:0.75rem;
  text-align: left;
}

.c_messages-item__paragraph {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  flex: 1;
  line-height:24px;

}

.c_messages-item__notification {
  display:flex;
  flex-flow:column;
  justify-content: space-between;
}

.c_messages-item__number {
  font-weight:bold;
  font-size:0.87rem;
}

.c_messages-item__number--visibility {
  display:block;
}

.c_messages-item__number--hidden {
  visibility: hidden;
}

.c_messages-item__icon-send {
  display:none;
}

@media (max-width: 600px) {
  .messages-container__wrapper {
    max-width:100%;
  }

  .c_messages-item {
    margin-bottom:0;
  }

  .c_messages-item__read {
    background-image: none;
    width:0;
  }

  .c_messages-item__box {
    flex-wrap:wrap;
    width: 100%;
    box-sizing: border-box;
    padding:16px;
    border-bottom:1px solid var(--bg-gray);
  }

  .c_messages-item__avatar__box {
    display:none;
  }

  .c_messages-item__personal {
    flex-flow:row;
    width:100%;
    justify-content:space-between;
    padding-left:0;
  }

  .c_messages-item__name {
    font-size: 0.8rem;
  }

  .c_messages-item__date {
  min-width: 70px;
  }

  .c_messages-item__paragraph {
    padding-left:0;
    font-size:0.8rem;
    line-height: 16px;
    flex:3;
    padding-top:8px;
  }

  .c_messages-item__notification {
    align-items: flex-end;
    justify-content: center;
  }

  .c_messages-item__icon {
    width:16px;
    height:16px;
  }

  .c_messages-item__number {
    font-size: 0.8rem;
    margin-top: 14px;
    font-weight: normal;
  }

  .c_messages-item-footer {
    display:flex;
    align-items:center;
    justify-content: center;
  }

  .c_messages-item__icon-send {
    padding-top:50px;
    display:block;
  }

  .messages-container {
    padding-bottom:0;
    padding-top:0;
    background-color:var(--bg-gray);
  }

  .notifications-container {
    padding-bottom:0;
    padding-top:0;
  }
}

