.c_messages-item__wraper {
  display:flex;
  /* justify-content: space-between; */
  align-items: center;
}

.c_messages-item__read {
  width: 32px;
  height: 31px;
  margin-right:31px;
}

.c_messages-item__content {
  display:flex;
  flex-flow:row;
  background:var(--bg-white);
  width:960px;
  justify-content: space-between;
  color:var(--bg-black);
  padding:24px;
  border-radius: 4px;
}

.c_messages-item__avatar {
  width: 72px;
  height: 72px;
  border-radius:50%;
}

.c_messages-item__personal {
  display:flex;
  flex-flow: column;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.c_messages-item__name {
  padding:0;
  font-size:0.87rem;
  font-weight: bold;
}
.c_messages-item__date {
  font-size:0.75rem;
}

.c_messages-item__paragraph {
  width:50%;
  line-height:24px;
}

.c_messages-item__notification {
  display:flex;
  flex-flow:column;
  justify-content: space-between;
}

.c_messages-item__icon {

}

.c_messages-item__number {
  font-weight:bold;
  font-size:0.87rem;
}

.c_messages-item__number--hidden {
  display:none;
}

.c_messages-item__wraper.c_messages-item__wraper--unread {
background-color: white;
padding-left:31px;
box-sizing:border-box;
border-radius:4px;
}






