.c_messages-item {
  background-color: var(--bg-gray);
}

.c_messages-item__wraper {
  display:flex;
  align-items: center;
  background-color:var(--bg-white);
  border-radius: 4px;
  margin-bottom:16px;
  background-color:var(--bg-gray);
  max-width: 1244px;

}

.c_messages-item__wraper--unread {
  background-color:var(--bg-white);
}

.c_messages-item__read {
  width: 32px;
  height: 31px;
  background-image: url(../images/ico_enviar.svg);
  background-repeat: no-repeat;
  margin:0 44px;
}

.c_messages-item__box {
  display:flex;
  flex-flow:row;
  width:960px;
  justify-content: space-between;
  color:var(--bg-black);
  padding:24px;
  border-radius: 4px;
  background-color:var(--bg-white);
}

.c_messages-item__avatar__box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.c_messages-item__avatar {
  width: 72px;
  height: 72px;
  border-radius:50%;
}

.c_messages-item__avatar--small {
  width: 32px;
  height: 32px;
  border-radius:50%;
}

.c_messages-item__avatar--small:first-of-type {
  margin-right:8px;
}

.c_messages-item__avatar__box--group {
  display:flex;
  flex-wrap: wrap;
  max-width:72px;
  position:relative;
}

.c_messages-item__avatar--small:nth-of-type(3) {
  margin-right:8px;
}

.c_messages-item_notification_number {
  width: 32px;
  height: 32px;
  border-radius:50%;
  background-color: var(--color-primary);
  color:var(--bg-black);
  font-size:1rem;
  font-weight: bold;
  font-family: var(--font-family-heading), sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  position:absolute;
  top: 22px;
}

.c_messages-item__personal {
  display:flex;
  flex-flow: column;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  max-width: 18%;
}

.c_messages-item__name {
  padding:0;
  font-size:0.87rem;
  font-weight: bold;
  text-align: left;
}


.c_messages-item__date {
  font-size:0.75rem;
  text-align: left;
}

.c_messages-item__paragraph {
  max-width:50%;
  line-height:24px;
  /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
}

.c_messages-item__notification {
  display:flex;
  flex-flow:column;
  justify-content: space-between;
  /* position: relative; */
  /* top: 5px; */
  /* right: 0; */
  /* bottom: 19px; */

}

.c_messages-item__icon {
/* position: absolute; *//* top: 0; *//* right: 10px; */}

.c_messages-item__number {
  font-weight:bold;
  font-size:0.87rem;
  /* bottom: 10px; */
  /* right: 0; */
  /* position: absolute; */
}

.c_messages-item__number--visibility {
  display:block;
}

.c_messages-item__number--hidden {
  visibility: hidden;
}





