.c_modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  will-change: opacity;
  opacity: 0;
  transition: opacity 233ms ease-in-out;
  transform: translateY(100%);
}

.c_modal.opened {
  opacity: 1;
  transform: translateY(0);
}

.c_modal__container {
  background: white;
  width: 100%;
  max-width: var(--main-layout-width);
  margin: 0 auto;
  opacity: 0;
  will-change: opacity;
  transform: translateY(20%);
  transition: transform 233ms 100ms ease-in-out, opacity 233ms 100ms ease-in-out;
}

.c_modal__content {
  max-height: calc(100vh - 74px);
  overflow-x: hidden;
  overflow-y: auto;
}

.c_modal.opened .c_modal__container {
  transform: translateY(0);
  opacity: 1;
}

.c_modal__close {
  filter: brightness(0) invert();
  position: absolute;
  right: 15px;
  top: 17px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  background-size: 16px 16px;
  background-position: center;
}

@media (max-width: 640px) {
  .c_modal {
    align-items: flex-start;
  }
}
