.c_notificaciones {
  background-color: var(--bg-gray);
}

.c_notificaciones__container {
  width:var(--main-layout-width);
  overflow:hidden;
  padding-right:var(--main-layout-gap);
  padding-left:var(--main-layout-gap);
  background-color: var(--bg-gray);
}

.c_notificaciones-results {
  padding:112px 0 64px;
}

.c_notificaciones-results__box {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow:column;
  padding:86px 0 64px;
}

.c_notificaciones-results__paragraph {
  padding-bottom:42px;
}

.c_notificaciones-results__wrapper {
  display:flex;
  font-size:0.87rem;
  line-height: 16px;
  letter-spacing:2px;
  font-family:var(--font-family-heading);
  text-transform:uppercase;
  margin-bottom:48px;
}

.c_notificaciones-results__wrapper__alert {
  width: 166px;
  height:144px;
  background-color:var(--bg-white);
  display:flex;
  justify-content: center;
  align-items: center;
  margin-right:2px;
}

.c_notificaciones-results__wrapper__information {
  flex:1;
}

.c_notificaciones-results__wrapper__row {
  display:flex;
  height:71px;
  margin-bottom:2px;
}

.c_notificaciones-results__wrapper__row__nacionality,
.c_notificaciones-results__wrapper__row__languages,
.c_notificaciones-results__wrapper__row__localication,
.c_notificaciones-results__wrapper__row__date,
.c_notificaciones-results__wrapper__row__duration {
  flex:1;
  padding:30px;
  background-color:var(--bg-white);
}

.c_notificaciones-results__wrapper__row__nacionality,
.c_notificaciones-results__wrapper__row__languages,
.c_notificaciones-results__wrapper__row__localication,
.c_notificaciones-results__wrapper__row__date {
  margin-right:2px;
}

.c_notificaciones-results__wrapper__row__icon {
  margin-right:12px;
  background-color:var(--bg-white);
}


.c_notificaciones-results__wrapper__remove {
  width:100px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.c_notificaciones-results__wrapper__row__box {
  width:70px;
  height:71px;
  background-color:var(--bg-white);
  display:flex;
  justify-content: center;
  align-items: center;
}






.c_notificaciones-search {
  background-color: var(--bg-gray);
}

.c_notificaciones-search__box {
  text-align: center;
  padding-bottom:64px;
  overflow:hidden;
}

.c_notificaciones-search__paragraph {
  padding: 79px 0 58px;
}

.c_notificaciones-search__nacionality span {
  padding-right:20px;
}

.c_notificaciones-search__wrapper {
  display:flex;
  justify-content: space-around;
  padding-bottom:64px;
}

.c_notificciones__search__button {
  display:flex;
  justify-content: center;
  align-items: center;
  padding-bottom:152px;
}

.c_notificaciones-alert__box {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow:column;
  padding-bottom:152px;
}

.c_notificaciones-alert__paragraph {
  padding-bottom:42px;
}

.last-title h1 {
  width:1300px;
}







