.c_profile-school {
  display:flex;
  position:relative;
}

.c_profile-school__img--background {
  width:50%;
  height:584px;
  object-fit:fill;
  background-size:cover;

}

.c_profile-school--number {
  width:72px;
  height:72px;
  background-color:red;
  font-size:2rem;
  position:absolute;
  bottom: 433px;
  right: 640px;
}

.c_profile-school--up {
  width:72px;
  height:72px;
  background-color: var(--color-text-secondary);
  position: absolute;
  bottom: 361px;
  right: 640px;
}

.c_profile-school--down {
  width:72px;
  height:72px;
  background-color: var(--color-text-secondary);
  position: absolute;
  bottom: 289px;
  right: 640px;
}

.c_profile-school__box {
  padding-top: 60px;
  padding-left: 70px;
  padding-right:148px;
  width: 50%;
  box-sizing: border-box;
}

.c_profile-school__title {
  font-family: var(--font-family-heading), sans-serif;
  font-weight: bold;
  font-size:2.2rem;
  letter-spacing:6.4px;
  line-height: 48px;
  text-transform: uppercase;
  margin:0;
}

.c_item-colegio__icons.c_profile-school__icons {
  padding:0;
}

.c_item-colegio__li.c_profile-school__li {
  margin-bottom:30px;
}

.c_item-colegio__label.c_profile-school__label {
  font-size:0.87rem;
}

.c_item-colegio--one.c_profile-school__box1 {
    padding:0;
  }


.c_item-colegio--two.c_profile-school__box2 {
  padding-left:139px;
  padding-top:0;
}















