.c_profile-content {
  padding-top:134px;
  background: linear-gradient(to right, white calc(calc(calc(100% - var(--main-layout-width)) / 2) + var(--small-column-width)), var(--bg-gray-dark) calc(calc(calc(100% - var(--main-layout-width)) / 2) + var(--small-column-width)));
}

@media (max-width: 1200px) {
  .c_profile-content {
    background: linear-gradient(to right, white var(--small-column-width), var(--bg-gray-dark) var(--small-column-width));
  }
}

@media (max-width: 600px) {
  .c_profile-content {
    background: var(--bg-gray-dark);
  }
}

.c_profile-content__box {
  padding-bottom:112px;
  display:flex;
}

.c_profile-content__wrap {
  max-width: var(--main-layout-width);
  padding-left: var(--main-layout-gap);
  padding-right: var(--main-layout-gap);
  margin: 0 auto;
}

.c_profile-content__column-one {
  text-align: right;
  width:var(--small-column-width);
  padding-right: 70px;
  box-sizing: border-box;
}

.c_profile-content__column-two {
  flex:1;
}

.c_profile-content__title {
  margin:0;
}

.c_profile-content__p--number {
  font-size:2rem;
  padding-left:70px;
}

.c_profile-content__p {
  padding-left: 70px;
  padding-right: 70px;
}

@media (max-width: 600px) {
  .c_profile-content__box {
    flex-direction: column;
    padding-bottom:70px;
  }

  .c_profile-content__column-one {
    width: auto;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 32px;
  }

  .c_profile-content__p {
    padding-left: 48px;
    padding-right: 48px;
  }

  .c_profile-content__p--number {
    padding-left: 48px;
  }

  .last-title-icon {
    color:var(--bg-white);
  }

  .c_profile-content__sendcv {
    font-size:1.12rem;
    padding:68px 48px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height:28px;
    letter-spacing: 3.6px;
  }
}
