.c_profile-school__content {
  padding-top:134px;
  padding-right:120px;
  max-width: var(--main-layout-width);
  background: linear-gradient(to right, white 24%,#d6d6d6 76%);
}

.c_profile-school__content:before {
  content:"";
  display:block;
  height:100%;
  position:absolute;
  border-right:1px solid var(--bg-gray-dark);
  left: 347px;
  top: 658px;
}

.c_profile-school__content__box {
  padding-bottom:112px;
  display:flex;
}

.c_profile-school__content__wrap {
  width: var(--main-layout-width);
}

.c_profile-school__content__colum-one {
  width:var(--small-column-width);
  padding-left:80px;

}

.c_profile-school__content__colum-two {
  flex:1;
}

.c_profile-school__content__title {
margin:0;
text-align: right;
margin-right: 100px;
}

.c_profile-school__content__p--number {
  font-size:2rem;
}

.c_profile-school__content__p {
 padding-left:30px;
}

.c_profile-school__content__p--number {
  padding-left:30px;
}
