.c_profile-edition {
}

.c_profile-edition__container {
  background-color: var(--bg-gray);
}

.c_profile-edition__paragraph {
  text-align:center;
  font-size:1rem;
  font-family:var(--font-family-main);
  letter-spacing:1px;
  line-height: 24px;
  padding:82px 0;
}

.c_profile-edition__wrapper {
  display:flex;
  justify-content: space-around;
  padding-bottom:80px;
}

.c_profile-edition__box {
  display:flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-bottom:80px;
}

.c_profile-edition-form__label {
  align-items: center;
  justify-content: center;
  display: flex;
}

.c_profile-edition-form__label select {
  margin-left: 20px;
}

.c_profile-edition-form__label__span {
  display: inline-block;
  text-align: right;
  justify-content: center;
  align-items: center;
  line-height: 1;
  width: 200px;
  padding-right:16px;
}

 .c_profile-edition-form__subtitle {
  font-size:0.62rem;
  letter-spacing: 1.7px;
  white-space: nowrap;
  padding:0;
}


.c_profile-edition-form__small {
  font-size:1rem;
  letter-spacing: 1px;
  line-height: 1;
  font-weight: initial;
  text-transform:none;
  display:block;
}

.c_profile-edition__wraper--disp {
  display:flex;
  justify-content: space-around;
  padding-bottom:80px;
}

.c_profile-edition-form__small--disp {
  font-size:1rem;
  font-weight: initial;
  text-transform:none;
  padding-left:40px;
}

.c_profile-edition__benefits {
  display:flex;
  flex-flow: column;
}

.c_profile-edition__text {
  text-align: right;
  font-size:1rem;
  font-family:var(--font-family-main);
  padding-top:8px;
}

@media (max-width: 600px) {
  .c_profile-edition__container {
    padding:0 20px 30px;
    box-sizing:border-box;
  }
  .c_profile-edition__paragraph {
      font-size:0.75rem;
      padding: 30px 20px 40px;
      line-height: 16px;
      letter-spacing:0;
    }

  .c_profile-edition__wrapper {
    flex-flow:column;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom:40px;
   }

   .c_profile-edition__box {
    padding-bottom:0;
   }

   .c_profile-edition-form__label {
    flex-wrap:wrap;
    padding-bottom:24px;
   }

   .c_profile-edition-form__label span {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:0.80rem;
    padding-bottom:16px;
    flex-flow: column;
   }

   .c_profile-edition-form__subtitle {
    padding-top:6px;
   }

   .c_profile-edition__label span {
    display:flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
   }

   .c_profile-edition__label.input--white {
    min-width:0;
   }

   .c_profile-edition__label__select {
    margin-top:20px;
   }

   .c_profile-edition__wraper--disp {
    flex-flow:column;
    padding-bottom:0;
   }

   .c_profile-edition__wraper--disp > .c_profile-edition-form__label {
    flex-flow:column;
   }

   .c_profile-edition-form__small--disp {
    padding-left:0;
    font-size:0.75rem;
   }

   .c_profile-edition-form__small {
    padding-left:0;
    font-size:0.75rem;
    padding-bottom:16px;
   }

   .c_profile-edition__text {
    font-size:0.60rem;
    padding-top:0;
    text-align: center;
   }

   .c_profile-edition__benefits > .c_profile-edition-form__label {
    padding-bottom:0;
   }

    .c_profile-edition__wrapper .select-alternativo {
      width:inherit;
      font-size:0.75rem;
    }

    .c_profile-edition-form__label div span {
      font-size:0.75rem;
    }
}








