.c_profile-content {
  padding-top:134px;
  padding-right:120px;
  max-width: var(--main-layout-width);
}

.c_profile-content:before {
  content:"";
  display:block;
  height:100%;
  position:absolute;
  border-right:1px solid var(--bg-gray-dark);
  left: 347px;
  top: 658px;
}

.c_profile-content__box {
  padding-bottom:112px;
  display:flex;
}

.c_profile-content__wrap {
  width: var(--main-layout-width);
}

.c_profile-content__column-one {
  width:var(--small-column-width);
  padding-left:80px;

}

.c_profile-content__column-two {
  flex:1;
}

.c_profile-content__title {
margin:0;
text-align: right;
margin-right: 100px;
}

.c_profile-content__p--number {
  font-size:2rem;
}

.c_profile-content__p {
 padding-left:40px;
}

.c_profile-content__p--number {
  padding-left:30px;
}
