.c_profile-edition__container {
  background-color: var(--bg-gray);
}

.c_profile-edition__paragraph {
  text-align:center;
  font-size:1rem;
  font-family:var(--font-family-main);
  letter-spacing:1px;
  line-height: 24px;
  padding:82px 0;
}

.c_profile-edition__wrapper {
  display:flex;
  justify-content: space-around;
  padding-bottom:80px;
}

.c_profile-edition__box {
  display:flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-bottom:80px;
}

.c_profile-edition-form__label {
  align-items: center;
  justify-content: center;
  display: flex;
}

.c_profile-edition-form__label__span {
  display: inline-block;
  margin-right: 40px;
  text-align: right;
  justify-content: center;
  align-items: center;
  line-height: 1;
  width: 30%;
}

 .c_profile-edition-form__subtitle {
  font-size:0.62rem;
  letter-spacing: 1.7px;
  white-space: nowrap;
  padding:0;
}


.c_profile-edition-form__small {
  font-size:1rem;
  letter-spacing: 1px;
  line-height: 1;
  font-weight: initial;
  text-transform:none;
  display:block;
}

.c_profile-edition__wraper--disp {
  display:flex;
  justify-content: space-around;
  padding-bottom:80px;
}

.c_profile-edition-form__small--disp {
  font-size:1rem;
  font-weight: initial;
  text-transform:none;
  padding-left:40px;
}


.c_profile-edition__benefits {
  display:flex;
  flex-flow: column;
}

.c_profile-edition__text {
  text-align: right;
  font-size:1rem;
  font-family:var(--font-family-main);
  padding-top:8px;
}










