.c_profile-school__content {
  margin-top:134px;
  margin-right:120px;
  margin-left:80px;
}

.c_profile-school__content__wrap {
  background:var(--bg-gray-dark);
  margin-bottom:112px;
}

.c_profile-school__content__p {
  padding-left:290px;

}

.c_profile-school__content__title {

}
