.c_public-profile {
  background-color:var(--bg-gray);
}

.c_public-profile__wrapper {
  display:flex;
  width:var(--main-layout-width);
  margin:0 auto;
  padding:86px 0 128px;
  justify-content: center;
}

.c_public-profile__wrapper .c_item {
  width: auto;
  margin: 0;
}

.c_public-profile__column-item {
  display: flex;
  flex-flow: column;
  padding-right:32px;
  width: 368px;
}

.c_public-profile__column-item__annotation {
  display:flex;
  font-size:1rem;
  padding-bottom:34px;
  font-family:var(--font-family-main);
  justify-content: center;
  align-items: center;
}

.c_public-profile__col-item__box {
  /*margin-right:16px;*/
  display:flex;
  flex-flow: column;
  margin-top:40px;
}


.c_public-profile__col-item__label {
  display:flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.c_public-profile__col-item__label span {
  padding-bottom:30px;
}

.c_public-profile__col-item__label-file,
.c_public-profile__col-item__label-radio  {
  padding-bottom:30px;
}

.c_public-profile__col__button {
  width:180px;
  margin-top:38px;
}

.c_public-profile__col__small {
  font-size:0.6rem;
  text-align: center;
  padding-top:29px;
  line-height: 16px;
}

.c_public-profile__col-form {
  width:498px;
  padding-left:48px;
}

.c_public-profile__col-form__type,
.c_public-profile__col-form__name,
.c_public-profile__col-form__localication,
.c_public-profile__col-form__date,
.c_public-profile__col-form__duration,
.c_public-profile__col-form__hours {
  margin-bottom:40px;
}

.c_public-profile__col-form__type span,
.c_public-profile__col-form__name span,
.c_public-profile__col-form__localication span,
.c_public-profile__col-form__date span,
.c_public-profile__col-form__duration span,
.c_public-profile__col-form__hours  span {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family:var(--font-family-main);
  font-weight:bold;
  font-size:0.87rem;
  padding-right:39px;
}

.c_public-profile__col-form__type .input-radio {
  margin-right: 8px;
}

.c_public-profile__col-form__span {
  display: inline-block;
  text-align: left;
}

.c_public-profile__col-form__span-date {
  line-height:14px;
  max-width:30%;
}

.c_public-profile__col-form__label-aux > span > small {
  display:block;
  text-align:left;
  font-size:0.62rem;
  line-height: 0;
  padding-right:20px;
}

.c_public-profile__col-form__label-aux__duration {
padding-right:20px;
}

.c_public-profile__col-form__box {
  padding-bottom:50px;
  display:flex;
  flex-flow:column;
  justify-content: center;
  align-items: center;
  padding-top:17px;
}

.c_public-profile__col-form__label {
  margin-bottom:40px;

}

.c_public-profile__col-form__label-aux {
  display:flex;
  margin-bottom:40px;

}

.c_public-profile__col-form__select-aux,
.c_public-profile__col-form__input-aux {
  flex:1;
}

.c_public-profile__col-form__title,
.c_public-profile__col-form__paragraph {
  font-size:0.9rem;
  letter-spacing:1px;
  margin:0;
  line-height:24px;
  font-family:var(--font-family-main);
  text-align: center;
}

.c_public-profile__col-form__title {
  text-transform:uppercase;
  width:344px;
}

.c_public-profile__col-form__wrapper {
  text-align: center;
}

.c_public-profile__col-form__wrapper__title {
  text-align: center;
  display: block;
  padding-bottom:30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family:var(--font-family-main);
  font-weight:bold;
  font-size:0.87rem;
  padding-left: 16px;
}

.c_public-profile__col-form__wrapper__input,
.c_public-profile__col-form__wrapper__select {
  margin-bottom:40px;
  padding-left:20px;
}

.c_public-profile__col-form__wrapper__label__title {
  margin-bottom:30px;
}


.c_public-profile__col-form__wrapper__label__title > span {
  display:flex;
  justify-content: center;
  margin-bottom:15px;
}

.c_public-profile__col-form__icon {
  display:inline-block;
  margin:0;
  margin-right:10px;

}

.c_public-profile__label-col {
  display: flex;
  justify-content: space-between;
}


.c_public-profile__col-form__paragraph {
  text-transform:lowercase;
  font-weight:normal;
  font-size:1rem;
  line-height: 24px;
  letter-spacing:1px;
  padding-bottom:26px;
}

.c_public-profile__col-form__paragraph:first-letter {
  text-transform: capitalize;
}

@media (max-width: 600px){
  .c_public-profile__wrapper {
    flex-flow: column;
    padding:0 0 40px;
    width:inherit;
  }

  .c_public-profile__column-item {
     width:inherit;
     padding-right:0;
  }

  .c_public-profile__column-item__annotation {
    display:none;
  }

  .c_item {
    display:none;
  }

  .c_public-profile__col-item__label {
    padding-bottom:46px;
  }

  .c_public-profile__col-item__label span {
    padding-bottom:0;
    font-size:0.75rem;
  }

  .c_public-profile__col__small {
    font-size:0.55rem;
    white-space:normal;
    padding:0 20px;
    line-height: 11px;
  }

  .c_public-profile__col__button {
    width:154px;
    line-height: 2;
  }

  .input-file input[type] + span {
    width:inherit;
  }

  .c_public-profile__col-form {
    padding-left:0;
    width:inherit;
  }

  .c_public-profile__col-form__type {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    width: inherit;
    padding-left: 0;
  }
  .c_public-profile__col-form__type span {
    width:100%;
    text-align:center;
    padding-bottom:24px;
    font-size:0.75rem;
    padding-right:0;
  }

  .c_public-profile__col-form__name,
  .c_public-profile__col-form__localication,
  .c_public-profile__col-form__date,
  .c_public-profile__col-form__duration,
  .c_public-profile__col-form__hours {
     display:flex;
    justify-content: center;
    align-items: center;
    flex-flow:column;
  }

  .c_public-profile__col-form__name span,
  .c_public-profile__col-form__localication span,
  .c_public-profile__col-form__date span,
  .c_public-profile__col-form__duration span,
  .c_public-profile__col-form__hours span{
    padding-right:0;
    font-size:0.75rem;
  }

  .c_public-profile__col-form__name input {
    min-width:200px;
    font-size:0.75rem;
  }

  .c_public-profile__col-form__localication input {
    min-width:200px;
    font-size:0.75rem;
    padding-top:0;
  }

  .c_public-profile__col-form__date span,
  .c_public-profile__col-form__duration span,
  .c_public-profile__col-form__hours span,
  .c_public-profile__col-form__localication span {
    padding-bottom:16px;
  }

  .c_public-profile__label-col {
    flex-flow: column;
  }

  .c_public-profile__col-form__wrapper__title {
    font-size:0.75rem;
  }

  .c_public-profile__col-form__icon {
    display:none;
  }

  .c_public-profile__col-form__wrapper__input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    font-size:0.75rem;
    padding-left:0;
  }

  .c_public-profile__col-form__wrapper__select {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size:0.75rem;
    padding-left:0;
  }

  .c_public-profile__col-form__wrapper__select span {
    padding-bottom:8px;
  }

  .c_public-profile__col-form__wrapper__label__title {
    font-size:0.75rem;
  }

  .c_public-profile__col-form__paragraph {
    font-size:0.75rem;
    line-height: 16px;
    padding:0 20px 30px;
  }
}




