.c_public-profile {
  background-color:var(--bg-gray);
}

.c_public-profile__wrapper {
  display:flex;
  width:var(--main-layout-width);
  margin:0 auto;
  padding:86px 0 128px;
  justify-content: center;
}

.c_public-profile__wrapper .c_item {
  width: auto;
  margin: 0;
}

.c_public-profile__column-item {
  display: flex;
  flex-flow: column;
  padding-right:32px;
  width: 300px;
}

.c_public-profile__column-item__annotation {
  display:flex;
  font-size:1rem;
  padding-bottom:34px;
  font-family:var(--font-family-main);
  justify-content: center;
  align-items: center;
}

.c_public-profile__col-item__box {
  width:300px;
  margin-right:16px;
  display:flex;
  flex-flow: column;
  margin-top:40px;
}


.c_public-profile__col-item__label {
  display:flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.c_public-profile__col-item__label span {
  padding-bottom:30px;
}

.c_public-profile__col-item__label-file,
.c_public-profile__col-item__label-radio  {
  padding-bottom:30px;
}

.c_public-profile__col__button {
  width:180px;
  margin-top:38px;
}

.c_public-profile__col__small {
  font-size:0.6rem;
  text-align: center;
  padding-top:29px;
  line-height: 16px;
}

.c_public-profile__col-form {
  width:498px;
  padding-left:48px;
}


.c_public-profile__col-form {
  width:498px;
  padding-left:48px;
}

.c_public-profile__col-form__intitution,
.c_public-profile__col-form__name,
.c_public-profile__col-form__localication,
.c_public-profile__col-form__date,
.c_public-profile__col-form__duration,
.c_public-profile__col-form__hours {
  margin-bottom:40px;
}

.c_public-profile__col-form__intitution span,
.c_public-profile__col-form__name span,
.c_public-profile__col-form__localication span,
.c_public-profile__col-form__date span,
.c_public-profile__col-form__duration span,
.c_public-profile__col-form__hours  span {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family:var(--font-family-main);
  font-weight:bold;
  font-size:0.87rem;
  padding-right:39px;
}

.c_public-profile__col-form__label span {
  display: inline-block;
  margin-right: 40px;
  text-align: left;
  line-height:14px;
  width:36%;
}

.c_public-profile__col-form__label span small {
  display:block;
  text-align:left;
  font-size:0.62rem;
}


.c_public-profile__col-form__span {
  width: 36%;
  vertical-align:middle;
}


.c_public-profile__col-form__box {
  padding-bottom:50px;
  display:flex;
  flex-flow:column;
  justify-content: left;
  align-items: left;
  padding-top:17px;
}

.c_public-profile__col-form__label {
  margin-bottom:40px;
}

.c_public-profile__col-form__title,
.c_public-profile__col-form__paragraph {
  font-size:0.9rem;
  letter-spacing:1px;
  margin:0;
  line-height:24px;
  font-family:var(--font-family-main);
  text-align: center;
}

.c_public-profile__col-form__title {
  text-transform:uppercase;
  width:344px;
}

.c_public-profile__col-form__wrapper {
  text-align: center;
}

.c_public-profile__col-form__wrapper__title {
  text-align: center;
  display: block;
  padding-bottom:30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family:var(--font-family-main);
  font-weight:bold;
  font-size:0.87rem;

}

.c_public-profile__col-form__wrapper__input,
.c_public-profile__col-form__wrapper__select {
  margin-bottom:40px;
  padding-left:20px;
}

.c_public-profile__col-form__wrapper__label__title {
  margin-bottom:30px;
}


.c_public-profile__col-form__wrapper__label__title span {
  display:flex;
  flex:2;
  justify-content: center;
  margin-bottom:20px;
}

.c_public-profile__col-form__icon {
  background-position:no-repeat;
}

.c_public-profile__label-col {
  display: flex;
  justify-content: space-between;
}











