.c_questions {
  max-width:1000px;
  margin:0 auto;
  text-align:center;
  font-size:1rem;
}

.c_questions__ul {
  list-style: none;
}

.c_questions__li:not(:last-of-type) {
  border-bottom:2px solid white;
}

.c_questions__link {
  display: inline-block;
  text-decoration:none;
  color:black;
  position:relative;
  text-transform:uppercase;
  font-weight: bold;
  line-height: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-family: var(--font-family-heading);
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 2;
  letter-spacing: 2px;
}

.c_questions__link:hover {
  background-color: rgba(0,0,0,0.04);
}

.c_questions__link__answer {
  max-width:900px;
  text-align:center;
  line-height:20px;
  position:relative;
  padding-bottom:50px;
}

.c_questions__link__answer:not(:last-of-type):after {
  content:"";
  width:4px;
  height:4px;
  background:black;
  position:absolute;
  left:calc(50% - 2px);
  bottom:25px;
  margin:0 auto;
  border-radius:50%;
}


.c_questions__link__box {
  padding-top:40px;
  box-sizing:border-box;
  display: none;
}

.c_questions--opened .c_questions__link__box {
  display: block;
}
