.c_results-label {
  flex:1;
}

.c_results-label__title {
  text-align: center;
  font-size:0.8rem;
  text-transform: uppercase;
  color:var(--color-primary);
  letter-spacing: 2px;
  line-height:20px;
  font-weight: bold;
}

.c_results-label__subtitle {
  text-align: center;
  font-size:1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height:20px;
  font-weight: bold;
}
