.c_record-languages__form__box1 {
  padding-top:96px;

}

.c_record-languages__form__box2 {
  padding-bottom:96px;
}

.c_record-languages__form__box {
  display:flex;
  justify-content: space-around;
}

.c_record-languages__form {
  background:var(--bg-gray);
}
