.remove-profile {
  display:flex;
  padding-top:50px;
  width:var(--main-layout-width);
  margin: 0 auto;
  background-color: #f3f3f3;
  padding-bottom:64px;
  box-sizing: border-box;
}

.remove-profile__container {
  width:var(--main-layout-width);
  margin:0 auto;
}


.remove-profile__label {
  white-space:wrap;
  margin-right:40px;
  width:192px;
  text-align: center;
}

.input-radio.input--small {
  margin:0;

}

.remove-profile__button--active  {
  width:24px;
  height:24px;
}

.remove-profile__span {
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 3.2px;
  margin-left:24px;
  font-family:var(--font-family-main);
}

.table {
  border:2px solid var(--bg-white);
  width:830px;

}

.table-td {
  border-bottom:2px solid var(--bg-white);
  vertical-align: middle;
  height:78px;
  padding-left:24px;
}

.table-icon {
  border-right:2px solid var(--bg-white);
  padding:34px 32px 0;
}


.table-icon:first-child {
  border-bottom: 2px solid var(--bg-white);
}

.table:first-child {
 margin-bottom:62px;
}

