.c_results-messages {
  justify-content:flex-end;
  display:flex;
  flex:1 0 auto;
  width: 33%;
}

.c_results-messages > * {
  margin-left: 32px;
}

@media (max-width: 600px) {
  .c_results-messages > * {
    margin-left: 16px;
  }
}
