.c_results-sort {
  display:flex;
  align-items: center;
  text-transform: uppercase;
  font-size:0.6rem;
  flex:1 0 auto;
  width: 33%;
  flex-wrap: wrap;
}

.c_results-sort-auxiliares {
  visibility: hidden;
  overflow: hidden;
}

.c_results-sort__paragraph {
  font-size:0.7rem;
  line-height:22px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-right:13px;
}

.c_results-sort__button {
  font-family: var(--font-family-main), sans-serif;
  display:inline-block;
  border:2px solid var(--bg-white);
  background:var(--bg-gray);
  font-size:0.72rem;
  border-radius:4px;
  padding:4px;
  letter-spacing: 2px;
  font-weight: bold;
  text-decoration: none;
  color:var(--color-text-secondary);
  margin-left:10px;

}

.c_results-sort__button:hover {
  background-color: var(--color-primary);
  cursor: pointer;
  border:2px solid var(--color-primary);
}

.c_results-sort__button--selected {
  background-color: var(--color-primary);
  border:2px solid var(--color-primary);
}

@media (max-width: 600px) {
  .c_results-sort {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .c_results-sort__paragraph {
    width: 100%;
  }

  .c_results-sort-auxiliares {
    display:none;
  }
}
