.c_results-messages {
  justify-content:flex-end;
  display:flex;
  flex:1 0 auto;
  width: 33%;
}

.c_results-messages__circle {
  width:36px;
  height:36px;
  padding-left:18px;
  padding-bottom:12px;
  background:url(../images/ico-mensajes-notificacion.svg) no-repeat left top;
  line-height:36px;
  color:var(--bg-white);
  text-align:center;
  font-size:0.9rem;
  font-weight: bold;
  margin-top:-10px;
}

@media (max-width: 600px) {
  .c_results-messages {
    width: auto;
    flex: 0 0 54px;
  }
}
