.c_record__header {
  padding:48px 0 43px;
}

.c_record__icon {
  margin:0 auto;
  background:red;
  display:block;
  width:72px;
  height:63px;
}

.c_record__title {
  text-align:center;
  letter-spacing: 2.8px;
  font-family:var(--font-family-heading);
}



