.c_record-offert-school__wrap1 {
  padding:88px 0 43px;
}

.c_record-offert-school__wrap2 {
  padding:35px 0;
}

.c_record-offert-school__wrap3 {
  display:flex;
  align-items: flex-start;
  padding:35px 0 96px;
  border-bottom:none;
}
