
.c_remove-profile {
  background-color: #f3f3f3;
  text-align: center;
}

.c_remove-profile__header__container {
  width:var(--main-layout-width);
  margin:0 auto;
}

.c_remove-profile__header__title {
  font-weight:bold;
  padding-top:86px;
  padding-bottom:16px;
}

.c_remove-profile__header__subtitle {
  font-weight:bold;
  padding-top:64px;
}

@media (max-width: 1000px) {
  .c_remove-profile {
    padding:20px;
    box-sizing: border-box;
  }


  .c_remove-profile__header__container {
    width:100%;
    text-align: center;
    margin:0;
  }

  .c_remove-profile__header__title {
    font-size:0.8rem;
    letter-spacing: 2px;
    padding-top:20px;
    padding-bottom:20px;
  }

  .c_remove-profile__header__subtitle {
    font-size:0.8rem;
    padding-top:44px;
    text-transform:uppercase;
    letter-spacing: 2px;
  }

  .c_remove-profile__header__paragraph {
    font-size:0.8rem;
    letter-spacing: 1px;
  }
}








