.SumoSelect p {
    margin: 0;
}

.sumoStopScroll {
    overflow: hidden;
}


/* Filtering style */

.SumoSelect .hidden {
    display: none;
}

.SumoSelect .search-txt {
    display: none;
    outline: none;
}

.SumoSelect .no-match {
    display: none;
    padding: 6px;
}

.SumoSelect.open .search-txt {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 5px 8px;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}

.SumoSelect.open>.search>span,
.SumoSelect.open>.search>label {
    visibility: hidden;
}


/*this is applied on that hidden select. DO NOT USE display:none; or visiblity:hidden; and Do not override any of these properties. */

.SelectClass,
.SumoUnder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border: none;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

.SelectClass {
    z-index: 1;
}

.SumoSelect > .optWrapper > .options li.opt label,
.SumoSelect > .CaptionCont,
.SumoSelect .select-all > label {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.SumoSelect {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    outline: none;
}

.SumoSelect > .CaptionCont {
    position: relative;
    box-sizing: border-box;
    line-height: inherit;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    flex: 1;
}

.SumoSelect > .CaptionCont > span {
    display: block;
    padding-right: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.4;
}


/*placeholder style*/

.SumoSelect > .CaptionCont > label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
}

.SumoSelect > .optWrapper {
    display: none;
    z-index: 1;
    top: 30px;
    width: 130%;
    position: absolute;
    left: 0;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 18px 31px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    overflow: hidden;
}

.SumoSelect > .optWrapper.up {
    width: 100%;
}

.SumoSelect.select-alternativo.open > .optWrapper {
    top: 40px;
    display: block;
}

.SumoSelect.select-alternativo--big.open > .optWrapper {
    top: 57px;
}

.SumoSelect.open > .optWrapper:not(.isFloating).up {
    top: auto;
    bottom: 100%;
    margin-bottom: 5px;
}

.SumoSelect > .optWrapper ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.SumoSelect > .optWrapper > .options {
    border-radius: 2px;
    position: relative;
    /*Set the height of pop up here (only for desktop mode)*/
    max-height: 250px;
    /*height*/
}

.SumoSelect > .optWrapper.okCancelInMulti > .options {
    border-radius: 2px 2px 0 0;
}

.SumoSelect > .optWrapper.selall > .options {
    border-radius: 0 0 2px 2px;
}

.SumoSelect > .optWrapper.selall.okCancelInMulti > .options {
    border-radius: 0;
}

.SumoSelect > .optWrapper > .options li.group.disabled > label {
    opacity: 0.5;
}

.SumoSelect > .optWrapper > .options li ul li.opt {
    padding-left: 22px;
}

.SumoSelect > .optWrapper.multiple > .options li ul li.opt {
    padding-left: 50px;
}

.SumoSelect > .optWrapper.isFloating > .options {
    max-height: 100%;
    font-size: 16px;
}

.SumoSelect > .optWrapper:not(.isFloating) > .options li.opt {
    padding: 6px 18px;
    position: relative;
    border-bottom: 1px solid #f5f5f5;
}

.SumoSelect > .optWrapper > .options > li.opt:last-child {
    border-bottom: none;
}

.SumoSelect > .optWrapper.okCancelInMulti > .options > li.opt:last-child {
    border-radius: 0;
}

.SumoSelect > .optWrapper:not(.isFloating) > .options li.opt:hover {
    background-color: #f6f6f6;
}

.SumoSelect > .optWrapper > .options li.opt.sel,
.SumoSelect .select-all.sel {
    background-color: #a1c0e4;
}

.SumoSelect > .optWrapper > .options li label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
}

.SumoSelect > .optWrapper > .options li span {
    display: none;
}

.SumoSelect > .optWrapper > .options li.group > label {
    cursor: default;
    padding: 8px 6px;
    font-weight: bold;
}


/*Floating styles*/

.SumoSelect > .optWrapper.isFloating {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 90%;
    bottom: 0;
    margin: auto;
    max-height: 90%;
    background: rgba(0,0,0,0.85);
    box-shadow: 0 0 100vw 100vw rgba(0,0,0,0.85);
    color: white;
    border-radius: 0;
    z-index: 2;
}


/*disabled state*/

.SumoSelect > .optWrapper > .options li.opt.disabled {
    background-color: inherit;
    pointer-events: none;
}

.SumoSelect > .optWrapper > .options li.opt.disabled * {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity=50);
    /* Netscape */
    -moz-opacity: 0.5;
    /* Safari 1.x */
    -khtml-opacity: 0.5;
    /* Good browsers */
    opacity: 0.5;
}


/*styling for multiple select*/

.SumoSelect > .optWrapper.multiple > .options li.opt {
    padding-left: 42px;
    cursor: pointer;
    position: relative;
}

.SumoSelect > .optWrapper.multiple > .options li.opt span,
.SumoSelect .select-all > span {
    position: absolute;
    display: block;
    width: 30px;
    top: 0;
    bottom: 0;
    margin-left: -35px;
}

.SumoSelect > .optWrapper.multiple > .options li.opt span i,
.SumoSelect .select-all > span i {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 16px;
    height: 16px;
    /*border: 1px solid #AEAEAE;*/
    border-radius: 2px;
    /*box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);*/
    /*background-color: #fff;*/
}

.SumoSelect > .optWrapper > .MultiControls {
  display: none;
}

.SumoSelect > .optWrapper.multiple.okCancelInMulti.isFloating > .MultiControls {
    display: block;
    margin-top: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.SumoSelect > .optWrapper.isFloating > .MultiControls {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-self: stretch;
  height: 80px;
  font-family: var(--font-family-heading), sans-serif;
  font-size: 24px;
}

.SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls {
    display: block;
}

.SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls > p {
    padding: 6px;
}

.SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls > p:focus {
    border-color: #a1c0e4;
    outline: none;
}

.SumoSelect > .optWrapper.multiple > .MultiControls > p {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 12px;
    flex: 1;
    box-sizing: border-box;
    text-align: center;
}

.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnOk {
    border-radius: 0 0 0 3px;
}

.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnCancel {
    border-radius: 0 0 3px 0;
    display: none;
}


/*styling for select on popup mode*/

.SumoSelect > .optWrapper.isFloating > .options li.opt {
    padding: 12px 6px;
}

.SumoSelect > .optWrapper.isFloating:not(.multiple) > .options li.opt.selected {
    box-shadow: none;
    border-color: transparent;
    background-image: url(../images/ico_check.svg);
    background-repeat: no-repeat;
    background-position: 8px center;
    padding-left: 32px;
}


/*styling for only multiple select on popup mode*/

.SumoSelect > .optWrapper.multiple.isFloating > .options li.opt {
    padding-left: 35px;
}

.SumoSelect > .optWrapper.multiple.okCancelInMulti.isFloating {
    padding-bottom: 43px;
}

.SumoSelect > .optWrapper.multiple > .options li.opt.selected span i,
.SumoSelect .select-all.selected > span i,
.SumoSelect .select-all.partial > span i {
    box-shadow: none;
    border-color: transparent;
    background-image: url(../images/ico_check.svg);
    background-repeat: no-repeat;
    background-position: center center;
}


/*disabled state*/

.SumoSelect.disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.SumoSelect.disabled > .CaptionCont {
    border-color: #ccc;
    box-shadow: none;
}


/**Select all button**/

.SumoSelect .select-all {
    border-radius: 3px 3px 0 0;
    position: relative;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    padding: 8px 0 3px 35px;
    height: 20px;
    cursor: pointer;
}

.SumoSelect .select-all > label,
.SumoSelect .select-all > span i {
    cursor: pointer;
}

.SumoSelect .select-all.partial > span i {
    background-color: #ccc;
}


/*styling for optgroups*/

.SumoSelect > .optWrapper > .options li.optGroup {
    padding-left: 5px;
    text-decoration: underline;
}


@media (max-width: 600px) {
  .SumoSelect > .CaptionCont > span {
    font-weight:normal;
    color: var(--color-text-disabled);
    padding:0;
  }
}

