
.c_tabs {
  display:flex;
  box-shadow: inset 0 8px 33px -8px rgba(0, 0, 0, 0.1);
}

.c_tab {
  display: block;
  flex:1;
  padding:33px 0 35px 0 ;
  justify-content: space-around;
  position: relative;
  text-decoration: none;
  color:var(--bg-black);
}

.c_tab:not(:last-child) {
  border-right: 2px solid rgba(0,0,0,0.03);
}

.c_tab--active {
  background-color: var(--bg-gray);
}

.c_tab__notification {
  position: absolute;
  right: 30px;
  top: 30px;
}

.c_tab__link {
  text-transform: uppercase;
  font-weight: bold;
  font-size:0.9rem;
  color:var(--bg-black);
  padding-top:25px;
}

.c_tab .icon {
  filter:brightness(0) invert(0);
}

.c_tab__box {
  flex-flow: column;
  display:flex;
  justify-content: center;
  align-items: center;
  flex:2;
  color:#e4e3e3;
  opacity: 0.2;
}

.c_tab:hover .c_tab__box,
.c_tab--active .c_tab__box {
  opacity: 1;
}

.c_tab__notification_number {
  text-decoration: none;
  width: 32px;
  height: 32px;
  background-color: var(--color-primary);
  color: var(--color-text-secondary);
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  font-family: var(--font-family-heading), sans-serif;
}

.c_tab__notification_number--black {
  background-color: var(--color-text-secondary);
  color: white;
}

.c_tab__notification_number.c_tab__notification_number--blue {
  background-color: var(--color-primary);
}

.c_tab--active .c_tab__notification_number--blue {
  display: none;
}


.c_tab--active .c_tab__notification_number--black {
  display:none;
}

.c_tab--active .c_tab__notification_number.c_tab__notification_number__disabled {
  display:block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c_tab.c_tab--red {
  color: white;
  background-color: rgba(255, 104, 111, 0.3);
}

.c_tab.c_tab--red:hover {
  color: white;
  background-color: #ff686f;
}

.c_tab.c_tab--red .c_tab__box {
  color: white;
  opacity: 1;
}

.c_tab.c_tab--red .c_tab__link {
  color: inherit;
}

.c_tab--medium .c_tab__link {
  padding-top:0;
}



