.container-results {
  background-color:var(--bg-gray);
  padding:46px 0 42px;
}

.container-items__wrap,
.container-results__wrap {
  display:flex;
  max-width: var(--main-layout-width);
  padding-left: var(--main-layout-gap);
  padding-right: var(--main-layout-gap);
  margin: 0 auto;
}

.main-title {
  margin: 0;
  height:74px;
  font-size:0.97rem;
  letter-spacing:2.8px;
  font-weight:bold;
  line-height: 72px;
  font-family: var(--font-family-heading), sans-serif;

}

.container-items {
  margin:0;
  background:var(--bg-gray);
}

.container-items__wrap {
  flex-flow: row wrap;
  align-items: flex-start;
}
