.container-results {
  background-color:var(--bg-gray);
  padding:46px 0 42px;
}

.container-items__wrap,
.container-results__wrap {
  display:flex;
  max-width: var(--main-layout-width);
  padding-left: var(--main-layout-gap);
  padding-right: var(--main-layout-gap);
  margin: 0 auto;
}

.container-items {
  margin:0;
  background:var(--bg-gray);
}

.container-items__wrap {
  flex-flow: row wrap;
  align-items: flex-start;
}

.main-title {
  cursor: pointer;
}
