.container-results {
  background-color:var(--bg-gray);
  padding:46px 0 42px;
}

.container-items__wrap,
.container-results__wrap {
  display:flex;
  max-width: var(--main-layout-width);
  margin: 0 auto;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.container-results__wrap {
  padding-left: var(--main-layout-gap);
  padding-right: var(--main-layout-gap);
  justify-content: space-between;
}

.container-items {
  margin:0;
  background:var(--bg-gray);
}

.container-items__wrap {
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.main-title {
  cursor: pointer;
}

@media (max-width: 600px) {
  .container-results {
    padding:18px 0 8px;
  }
}
