.container-certification {
  background:var(--bg-gray);
  text-align:center;
  position:relative;
}

.container-certification__wrapper {
  max-width: var(--main-layout-width);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.container-certification__wrapper > section {
  padding:60px 0;
  margin: 0 80px;
}

.container-certification__hero {
  padding-top: 40px;
}

.container-certification__wrapper > section:not(:last-child) {
  border-bottom:1px dashed var(--color-primary);
}

.container-certification__box {
  max-width: 580px;
  margin:10px auto;
}

.container-certificaction__title,
.container-diploma__title {
  text-align: center;
  font-size:1.5rem;
  line-height: 32px;
  letter-spacing: 6.2px;
  margin:0;
}

.container-certification__paragraph {
   text-align: center;
   font-family:var(--font-family-main);
   line-height:24px;
}

.container-certification__main-paragraph {
  padding-top:46px;
}

.container-certification__button.button--circle {
  box-shadow:none;
  position: absolute;
  top: 68px;
  right: 80px;
}

.container-certification__select {
  margin:26px auto 5px;
  display:flex;
  justify-content: center;
  align-items:center;
}

.container-certification__button span {
  font-size:40px;
  text-align: center;
  font-family:var(--font-family-heading);
  color:black;
  letter-spacing: 0;
}

.container-certification__button sup {
  font-size:20px;
  vertical-align:super;
}

.container-diploma {
  margin: 0 80px;
}

.container-diploma__title {
  padding:0 0 35px;
}

.container-diploma__subtitle {
  font-size:0.87rem;
  letter-spacing: 2px;
  line-height: 40px;
  color:var(--color-primary);
  text-align: center;
  margin:0;
}
.container-diploma__paragraph {
  text-align:center;
}


.container-diploma__wraper-personal {
  display:flex;
  flex-wrap: wrap;
  padding:74px 0 32px;
  opacity:1;
}

.container-diploma__wraper-personal__disabled {
  opacity:0.2;
  pointer-events: none;
}

.container-diploma__label--big {
  width:100%;
  display:flex;
  justify-content: space-between;
}

.container-diploma__label--big > .input-radio.input--small {
  margin-left: 0;
  margin-right: 6px;
}

.container-diploma__label--big .input-radio.input--small input[type] + span {
  font-weight: normal;
  padding: 14px 12px;
}


.container-diploma__label {
  padding-bottom:42px;
  display:flex;
  justify-content: flex-start;
  white-space: nowrap;
}

.container-diploma__label > :first-child:not(:last-child) {
  margin-right: 16px;
}

.container-diploma__subtitle2 {
  padding-bottom:58px;
}

.container-diploma__wraper {
  display:flex;
  padding:58px 0;
}

.container-diploma__box--left {
  margin-right:50px;
  flex-shrink: 1;
  flex-grow: 0;
  width: calc(50% - 50px);
}

.container-diploma__box--right {
  margin-left:50px;
  flex-shrink: 1;
  flex-grow: 0;
  width: calc(50% - 50px);
}

.container-diploma__box--both {
  flex-shrink: 0;
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container-diploma__box--both > :first-child:last-child {
  width: 100%;
}

.container-diploma__box--both > :first-child:last-child input {
  width: 100%;
}

.container-diploma-pago {
  margin:51px auto 96px;
  text-align:center;
  padding:0 20px;
}


@media (max-width: 1200px) {
  .container-certification__wrapper > section {
    margin-left: 10px;
    margin-right: 10px;
  }

  .container-certification__button.button--circle {
    position: static;
    margin: 0 auto;
  }

  .container-diploma__wraper,
  .container-diploma__wraper-personal {
    display: block;
  }

  label.container-diploma__label--big,
  .container-diploma__box--both,
  .container-diploma__label {
    display: block;
    text-align: left;
  }

  .container-diploma__label--big {
    padding-bottom: 42px;
  }

  .container-diploma__box--left,
  .container-diploma__box--right,
  .container-diploma__box--both {
    flex-shrink: 0;
    flex-grow: 1;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .container-diploma__box--left input,
  .container-diploma__box--right input,
  .container-diploma__box--both input,
  .container-diploma__box--left select,
  .container-diploma__box--right select,
  .container-diploma__box--both select {
    width: 100%;
    margin-left: 0 !important;
    display: block;
  }

}
