.container-search {
  position:relative;
  display: flex;
}

.container-search__wrapper,
.container-how-it-works__wrapper,
.container-call-for-action__wrapper,
.container-corporative__wrapper {
  max-width: var(--main-layout-width);
  padding-left: var(--main-layout-gap);
  padding-right: var(--main-layout-gap);
  margin: 0 auto;
}

.container-search__wrapper,
.container-call-for-action__wrapper,
.container-corporative__wrapper {
  display:flex;
  justify-content:space-between;
  align-items: flex-start;
}

.container-corporative {
  background:var(--bg-gray-dark);
  text-align:center;
  padding:88px 0 96px;
  box-sizing:border-box;
}


.container-how-it-works {
  background:var(--bg-black);
  color:white;
  text-align:center;
  padding-top: 88px;
  padding-bottom:96px;
}

.container-how-it-works .button {
  min-width:236px;
}


@media (max-width: 600px) {
  .container-search {
    display:block;
  }

  .container-call-for-action__wrapper,
  .container-search__wrapper {
    display: block;
  }

  .container-corporative {
    padding: 48px 0 0 0;
  }

  .container-how-it-works {
    padding-top:61px;
    padding-bottom:60px;
  }

  .c_hero-corporative__main-paragraph {
    font-size:1.12rem;
    line-height: 24px;
    letter-spacing: 0.7px;
  }

  .container-call-for-action__wrapper {
    padding-left:0;
    padding-right:0;
  }

  .container-how-it-works__wrapper {
    /*padding-top: 100px;*/
  }
}


