.container-search {
  position:relative;
}

.container-search__wrapper,
.container-how-it-works__wrapper,
.container-call-for-action__wrapper,
.container-corporative__wrapper {
  max-width: var(--main-layout-width);
  padding-left: var(--main-layout-gap);
  padding-right: var(--main-layout-gap);
  margin: 0 auto;
}

.container-search__wrapper,
.container-call-for-action__wrapper,
.container-corporative__wrapper {
  display:flex;
  justify-content:space-between;
  align-items: flex-start;
}

@media (max-width: 600px) {
  .container-call-for-action__wrapper,
  .container-search__wrapper {
    display: block;
  }
}




.container-corporative {
  background:var(--bg-gray-dark);
  text-align:center;
  padding:88px 0 96px;
  box-sizing:border-box;
}



.container-how-it-works {
  background:var(--bg-black);
  color:white;
  text-align:center;
  padding-top: 90px;
  padding-bottom:94px;
}

.container-how-it-works .button {
  min-width:236px;
}



@media (max-width: 600px) {
  .container-search {
    display:block;
  }
}
